<div>
  <div>
    <div>
      <div>
        <h3><%= t('.title') %></h3>
        <p><%= t('.description') %></p>
      </div>
    </div>
    <div>
      <div>
        <div>
          <div>
            <h3><%= @secret.name %></h3>
          </div>
          <dl>
            <div>
              <dt><%= t('activerecord.attributes.staff_secret.created_at') %></dt>
              <dd><%= l @secret.created_at, format: :long %></dd>
            </div>
            <div>
              <dt><%= t('activerecord.attributes.staff_secret.last_used_at') %></dt>
              <dd><%= @secret.last_used_at ? l(@secret.last_used_at, format: :long) : t('defaults.never') %></dd>
            </div>
          </dl>
        </div>
        <div>
          <%= link_to t('actions.back'), sign_org_configuration_secrets_path %>
          <%= link_to t('actions.edit'), edit_sign_org_configuration_secret_path(@secret) %>
        </div>
      </div>
    </div>
  </div>
</div>
