<% if user_email.errors.any? %>
  <div>
    <ul role="list">
      <% user_email.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div>
  <%= form.label :address %>
  <div>
    <%= form.email_field :address, autocomplete: "email", required: true %>
  </div>
</div>

<% if show_confirm_policy %>
  <div>
    <div>
      <%= form.check_box :confirm_policy %>
    </div>
    <div>
      <%= form.label :confirm_policy, "利用規約に同意する" %>
    </div>
  </div>
<% end %>

<div>
  <%= render "shared/cloudflare_turnstile" %>
</div>

<div>
  <%= form.submit %>
</div>
