<% if user_email.errors.any? %>
  <div>
    <ul>
      <% user_email.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<% if verification_token.present? %>
  <%= form.hidden_field :token, value: verification_token %>
<% end %>

<div>
  <%= form.label :pass_code %>
  <%= form.text_field :pass_code,
                      placeholder: "123456",
                      autofocus: true,
                      autocomplete: "one-time-code",
                      inputmode: "numeric",
                      pattern: "[0-9]*" %>
</div>

<%= form.submit "確認する" %>
