<%= link_to t("sign.app.configuration.show.back"), "https://id.umaxica.app/configuration?ri=jp" %>

<% content_for :page_title, t("sign.app.configuration.mfa.show.title") %>

<h1><%= t("sign.app.configuration.mfa.show.title") %></h1>

<%= form_with model: @user, url: sign_app_configuration_challenge_path, method: :patch do |form| %>
  <div>
    <span><%= t("sign.app.configuration.mfa.show.toggle_title") %></span>
    <span><%= @user.multi_factor_enabled? ? t("sign.app.configuration.mfa.show.enabled") : t("sign.app.configuration.mfa.show.disabled") %></span>
    <%= form.check_box :multi_factor_enabled, {}, "1", "0" %>
  </div>

  <%= form.submit t("actions.save") %>
<% end %>
