<div id="help-com-react-root" class="min-h-[60vh]">
  <noscript>
    <section class="prose max-w-none">
      <h2><%= ENV.fetch("BRAND_NAME") { ENV.fetch("NAME") } %> Help Center</h2>
      <p>JavaScript を有効にすると、React Aria を使ったインタラクティブな体験をご覧いただけます。</p>
      <ul>
        <li>Current language: <%= I18n.locale %></li>
        <li>TimeZone: <%= params[:tz].to_s.downcase == 'utc' ? "utc" : 'jst' %></li>
        <li><%= I18n.t "hello" %></li>
        <li><%= Time.now.in_time_zone("Tokyo") %></li>
        <li><%= to_localetime Time.now, 'jst' %></li>
      </ul>
    </section>
  </noscript>
</div>
