<% content_for :page_title, t("sign.app.authentication.email.edit.page_title") %>
<% content_for :title, t("sign.app.authentication.email.edit.page_title") %>

<div>
  <div>
    <div>
      <div>
        <h1><%= t("sign.app.authentication.email.edit.page_title") %></h1>
        <p>
          <%= t("sign.app.registration.email.create.verification_code_sent") %>
        </p>
      </div>

      <%= form_with model: @user_email, url: sign_com_up_email_path(@user_email, ri: params[:ri]), method: :patch, data: { turbo: false } do |form| %>
        <%= hidden_field_tag :rd, params[:rd] if params[:rd].present? %>

        <% if @user_email.errors.any? %>
          <div>
            <ul>
              <% @user_email.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div>
          <%= form.label :pass_code %>
          <%= form.text_field :pass_code,
                              placeholder: "123456",
                              maxlength: 6,
                              autofocus: true,
                              autocomplete: "one-time-code",
                              inputmode: "numeric",
                              pattern: "[0-9]{6}" %>
        </div>

        <%= form.submit "確認する" %>
      <% end %>

      <div>
        <%= link_to t("sign.app.registration.email.edit.return_page"), new_sign_com_up_path(ri: params[:ri]) %>
      </div>
    </div>
  </div>
</div>
