<% content_for :page_title, 'Account recovery' %>
<h1>Account recovery</h1>
<p>Use your recovery code to sign in.</p>

<%= form_with model: @staff_recover_code, url: sign_org_authentication_recovery_path, data: { turbo: false } do |f| %>
  <% if @staff_recover_code.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@staff_recover_code.errors.count, "error") %> prohibited this sample from being saved:</h2>

      <ul>
        <% @staff_recover_code.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= render "shared/cloudflare_turnstile" %>

  <div>
    <%= f.label :account_identifiable_information %>
    <%= f.text_field :account_identifiable_information %>
  </div>

  <div>
    <%= f.label :recovery_code %>
    <%= f.password_field :recovery_code %>
  </div>

  <div><%= f.submit %></div>
<% end %>

<ul>
  <li><%= link_to "Back", new_sign_org_in_path %></li>
</ul>
