<!DOCTYPE html>
<html lang="<%= get_language %>">
<head>
  <%= display_meta_tags site: "#{ENV['BRAND_NAME']} (com) Help Center" %>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="turbo-refresh-method" content="morph">
  <meta name="turbo-refresh-scroll" content="preserve">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= javascript_importmap_tags %>
  <%= stylesheet_link_tag "help/main" %>
  <%= stylesheet_link_tag "help/com/main" %>
  <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
  <link rel="icon" href="<%= Rails.env.production? ? 'https://perm.umaxica.com/favicon.ico' : 'favicon.ico' %>" sizes="32x32">
</head>

<body class="px-4">
<%= render "concern/flash_messages" %>
<header>
  <h1>
    <a href="http://<%= ENV['EDGE_CORPORATE_URL'] %>:4444/"><%= ENV.fetch('BRAND_NAME') { ENV.fetch('NAME') } %> (help,
      com)</a></h1></header>
<hr>

<main class="container mx-auto mt-28 px-5 block">
  <%= yield %>
</main>

<hr>

<footer>
  <ul>
    <li><a href="http://<%= ENV['EDGE_CORPORATE_URL'] %>/">Umaxica</a></li>
    <li><%= link_to 'NewsRoom', news_com_root_url %></li>
    <li><%= link_to 'Document', docs_com_root_url %></li>
    <li><%= link_to 'Help Center', help_com_root_url %></li>
  </ul>
  <%= render "concern/copyright" %>
</footer>
</body>
</html>
