<% content_for :page_title, t("sign.app.configuration.passkeys.edit.title") %>
<div>
  <div>
    <h1><%= t("sign.app.configuration.passkeys.edit.title") %></h1>
    <p><%= t("sign.app.configuration.passkeys.edit.description") %></p>
  </div>

  <%= form_with model: @passkey, url: identity.sign_app_configuration_passkey_path(@passkey), method: :patch do |form| %>
    <% if @passkey.errors.any? %>
      <div>
        <div>
          <div>
            <h3>
              <%= t('errors.messages.validation_errors', count: @passkey.errors.count) %>
            </h3>
            <div>
              <ul>
                <% @passkey.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <div>
      <%= form.label :description, t('activerecord.attributes.user_passkey.description') %>
      <%= form.text_field :description,
                          maxlength: 100 %>
    </div>

    <div>
      <%= form.submit t('actions.save') %>
      <%= link_to t('sign.common.cancel'), identity.sign_app_configuration_passkeys_path %>
    </div>
  <% end %>

  <div>
    <%= button_to t('actions.delete'),
                  identity.sign_app_configuration_passkey_path(@passkey),
                  method: :delete,
                  form: { data: { turbo_confirm: t('messages.confirm_destroy') } } %>
  </div>
</div>
