<% content_for :page_title, 'Passkeys' %>
<%= link_to t('sign.app.configuration.show.back'), identity.sign_app_configuration_path %>

<div>
  <div>
    <%= link_to t('controller.sign.app.v1.passkey.new'), identity.new_sign_app_configuration_passkey_path %>
  </div>
</div>

<div>
  <div>
    <div>
      <div>
        <table>
          <thead>
          <tr>
            <th scope="col"><%= t('activerecord.attributes.user_passkey.description') %></th>
            <th scope="col"><%= t('activerecord.attributes.user_passkey.created_at') %></th>
            <th scope="col"><%= t('activerecord.attributes.user_passkey.last_used_at') %></th>
            <th scope="col">
              <span>アクション</span>
            </th>
          </tr>
          </thead>
          <tbody>
          <% @passkeys.each do |passkey| %>
            <tr>
              <td><%= passkey.description %></td>
              <td><%= l(passkey.created_at, format: :short) %></td>
              <td><%= passkey.respond_to?(:last_used_at) && passkey.last_used_at ? l(passkey.last_used_at, format: :short) : '-' %></td>
              <td>
                <%= link_to t('actions.edit'), identity.edit_sign_app_configuration_passkey_path(passkey) %>
                <%= link_to t('actions.destroy'), identity.sign_app_configuration_passkey_path(passkey), data: { turbo_method: :delete, turbo_confirm: t('messages.confirm_destroy') } %>
              </td>
            </tr>
          <% end %>
          <% if @passkeys.empty? %>
            <tr>
              <td colspan="4" class="italic">
                パスキーは登録されていません。
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
