<% content_for :page_title, t("sign.org.authentication.new.page_title") %>
<div class="animate-fade-in-up">
  <div>
    <h1>
      <%= t("sign.org.authentication.new.page_title") %>
    </h1>
    <p>
      <%= t("sign.org.authentication.new.description") %>
    </p>
  </div>

  <div>
    <%= link_to identity.new_sign_org_in_passkey_path do %>
      <span><%= t("sign.org.authentication.new.links.passkey") %></span>
    <% end %>

    <%= link_to identity.new_sign_org_in_secret_path do %>
      <span><%= t("sign.org.authentication.new.links.secret") %></span>
    <% end %>

    <%= link_to identity.new_sign_org_social_session_path(provider: "google_org") do %>
      <span><%= t("sign.org.authentication.new.links.google") %></span>
    <% end %>

    <div>
      <%= link_to zenith.acme_org_root_path do %>
        <span><%= t("sign.org.authentication.new.back_to_root") %></span>
      <% end %>
    </div>
  </div>
</div>
