<% content_for :page_title, t('apex.org.preferences.title') %>

<section class="animate-fade-in-up">
  <div>
    <div>
      <div>
        <div>
          <h1>
            <%= t("apex.org.preferences.title") %>
          </h1>
          <p>
            <%= t("apex.org.preferences.description") %>
          </p>
        </div>
      </div>
    </div>

    <div>
      <!-- Region -->
      <%= link_to edit_apex_org_preference_region_path do %>
        <div>
          <span><%= t("apex.org.preferences.region_settings") %></span>
        </div>
      <% end %>

      <!-- Timezone -->
      <%= link_to edit_apex_org_preference_region_timezone_path do %>
        <div>
          <span><%= t("apex.org.preferences.timezone_settings") %></span>
        </div>
      <% end %>

      <!-- Language -->
      <%= link_to edit_apex_org_preference_region_language_path do %>
        <div>
          <span><%= t("apex.org.preferences.language_settings") %></span>
        </div>
      <% end %>

      <!-- Theme -->
      <%= link_to edit_apex_org_preference_theme_path do %>
        <div>
          <span><%= t("apex.org.preferences.theme_settings") %></span>
        </div>
      <% end %>

      <!-- Cookie -->
      <%= link_to edit_apex_org_preference_cookie_path do %>
        <div>
          <span><%= t("apex.org.preferences.cookie_settings") %></span>
        </div>
      <% end %>

      <!-- Reset -->
      <%= link_to edit_apex_org_preference_reset_path do %>
        <div>
          <span><%= t("apex.org.preferences.reset_settings") %></span>
        </div>
      <% end %>
    </div>
  </div>

  <div>
    <%= link_to apex_org_root_path(ct: "dr", lx: "en", ri: "us", tz: "jst") do %>
      <span><%= t("apex.org.preferences.up_link") %></span>
    <% end %>
  </div>
</section>
