<% content_for :page_title, t("base.app.preference.emails.new.page_title") %>

<section>
  <div>
    <h1><%= t("base.app.preference.emails.new.heading") %></h1>
    <p><%= t("base.app.preference.emails.new.description") %></p>
  </div>

  <%= form_with url: sign_app_preference_email_path, scope: :preference_email, method: :post do |f| %>
    <div>
      <%= f.label :email, t("base.app.preference.emails.new.email_label") %>
      <%= f.email_field :email, required: true, autofocus: true %>
    </div>

    <%= render "shared/cloudflare_turnstile" %>

    <div>
      <%= f.submit t("base.app.preference.emails.new.submit") %>
    </div>
  <% end %>
</section>
