<!DOCTYPE html>
<html lang="ja">
<head>
  <%= display_meta_tags site: "#{ENV['BRAND_NAME']} (com) Apex" %>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "top/com/main" %>
  <%= javascript_importmap_tags %>
  <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
</head>

<body class="px-4">
<header>
  <h1><a href="http://<%= ENV['EDGE_CORPORATE_URL'] %>:4444/">Umaxica(www, com)</a></h1></header>

<hr>

<main class="container mx-auto mt-28 px-5 block">
  <%= yield %>
</main>

<nav>

</nav>

<hr>

<footer>
  <ul>
    <li><a href="http://<%= ENV['EDGE_CORPORATE_URL'] %>:4444/"><%= t('top.com.preferences.footer.home') %></a></li>
    <li><%= link_to t('top.com.preferences.footer.preference'), top_com_preference_path %></li>
    <li><%= link_to t('top.com.preferences.footer.privacy'), top_com_privacy_path %></li>
  </ul>
  <%= render "concern/copyright" %>
</footer>

</body>
</html>
