<% content_for :page_title, t('acme.app.preferences.regions.title') %>

<section>
  <div>
    <div></div>

    <div>
      <h1>
        <%= t("acme.app.preferences.regions.title") %>
      </h1>
      <p>
        <%= t("acme.app.preferences.regions.select_region_prompt") %>
      </p>
    </div>

    <%= form_with model: @preference_region, scope: :preference_region, url: zenith.acme_app_preference_region_url, method: :patch,
                  data: { controller: "unsaved-changes",
                          unsaved_changes_message_value: t("common.unsaved_changes") } do |f| %>

      <div>
        <h2>
          <%= t("acme.app.preferences.regions.region_section") %>
        </h2>

        <div>
          <%= f.label :option_id, t("acme.app.preferences.regions.select_region") %>
          <div>
            <%= f.select :option_id,
                         options_for_select(
                           AppPreferenceRegionOption.all.order(:id).filter_map do |o|
                             next if o.name.blank?

                             [t("acme.app.preferences.regions.select_region_selector.#{o.name}"), o.id]
                           end,
                           @preference_region.option_id
                          ),
                         { prompt: t("acme.app.preferences.regions.select_region_prompt") } %>
          </div>
        </div>
      </div>

      <div>
        <%= f.submit t("acme.app.preferences.update_settings"),
                     data: { turbo_submits_with: t("acme.app.preferences.submitting") } %>
        <%= link_to t("acme.app.preferences.back_to_settings"),
                    zenith.acme_app_preference_url %>
      </div>
    <% end %>

    <div>
      <div>
        <%= link_to zenith.edit_acme_app_preference_region_timezone_path(lx: params[:lx], ri: params[:ri]) do %>
          <div>
            <span><%= t("acme.app.preferences.region.timezone.link") %></span>
          </div>
        <% end %>

        <%= link_to zenith.edit_acme_app_preference_region_language_path(lx: params[:lx], ri: params[:ri]) do %>
          <div>
            <span><%= t("acme.app.preferences.region.language.link") %></span>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
