<!DOCTYPE html>
<html lang="ja">
<head>
  <title><%= ENV.fetch('NAME') %> <%= content_for?(:page_title) ? "| #{yield(:page_title)} " : "" %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "news/app/main" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
</head>

<body class="px-4">
<header>
  <h1><a href="http://<%= ENV['EDGE_SERVICE_URL'] %>/"><%= ENV.fetch('NAME') %> (news, app)</a></h1>
  <p>
    <%= link_to_if !@user&.active?, "logout?", new_auth_app_registration_path %>
    <%= link_to_unless @user&.active?, "login?", new_auth_app_registration_path %>
  </p>
</header>

<hr>

<main class="container mx-auto mt-28 px-5 block">
  <%= yield %>
</main>

<nav>
  <% breadcrumbs.tap do |links| %>
    <% if links.any? %>
      <ul>
        <% links.each do |link| %>
          <li> <%= link_to link.text, link.url, class: (link.current? ? "current" : nil) %></li>
        <% end %>
    <% end %>
    <li>...</li>
    </ul>
  <% end %>
</nav>

<hr>

<footer>
  <ul>
    <li><a href="http://<%= ENV['EDGE_SERVICE_URL'] %>/">Home</a></li>
    <li><%= link_to 'Cookie', edit_apex_app_preference_cookie_path %></li>
    <li>Help Center</li>
    <li>Newsroom</li>
    <li>Document Archive</li>
  </ul>
  <small>© 2025 <%= ENV.fetch('NAME') %></small>
</footer>

</body>
</html>
