<% content_for :page_title, t("sign.org.configuration.show.page_title") %>
<div>
  <h1><%= t("sign.org.configuration.show.page_title") %></h1>
  <p><%= t("sign.org.configuration.show.description") %></p>

  <div>
    <%= link_to t("controller.sign.app.setting.index.session"),
                sign_org_configuration_sessions_path %>
    <%= link_to t("controller.sign.app.setting.index.passkey"),
                sign_org_configuration_passkeys_path %>
    <%= link_to t("controller.sign.app.setting.index.secret"),
                sign_org_configuration_secrets_path %>
    <%= link_to t("sign.org.configuration.show.withdrawal"),
                sign_org_configuration_withdrawal_path %>
    <%= link_to "Logout",
                edit_sign_org_configuration_out_path(ri: "jp") %>
  </div>
</div>
