<% content_for :page_title, t("sign.org.configuration.show.page_title") %>

<h1><%= t("sign.org.configuration.show.page_title") %></h1>
<p><%= t("sign.org.configuration.show.description") %></p>

<section>
  <h2><%= t("sign.app.configuration.show.security_settings") %></h2>
  <ul>
    <li><%= link_to t("controller.sign.app.setting.index.passkey"), sign_org_configuration_passkeys_path %></li>
    <li><%= link_to t("controller.sign.app.setting.index.secret"), sign_org_configuration_secrets_path %></li>
  </ul>
</section>

<section>
  <h2><%= t("sign.app.configuration.show.account_settings") %></h2>
  <ul>
    <li><%= link_to t("controller.sign.app.setting.index.email"), sign_org_configuration_emails_path %></li>
    <li><%= link_to t("controller.sign.app.setting.index.telephone"), sign_org_configuration_telephones_path %></li>
    <li><%= link_to t("controller.sign.app.setting.index.session"), sign_org_configuration_sessions_path %></li>
    <li><%= link_to t("controller.sign.app.setting.index.activity"), sign_org_configuration_activities_path %></li>
  </ul>
</section>

<section>
  <h2><%= t("sign.app.configuration.show.external_services") %></h2>
  <ul>
    <li><%= link_to t("controller.sign.app.setting.index.google"), sign_org_configuration_google_path %></li>
  </ul>
</section>

<section>
  <h2><%= t("sign.app.configuration.show.others") %></h2>
  <ul>
    <li><%= link_to t("sign.app.configuration.show.logout"), edit_sign_org_configuration_out_path(ri: "jp") %></li>
    <li><%= link_to t("sign.org.configuration.show.withdrawal"), sign_org_configuration_withdrawal_path %></li>
  </ul>
</section>
