<%= link_to t("sign.app.configuration.show.back"), "https://sign.umaxica.app/configuration?ri=jp" %>

<% content_for :page_title, t("sign.app.configuration.mfa.show.title") %>

<h1><%= t("sign.app.configuration.mfa.show.title") %></h1>

<%= form_with model: @user, url: sign_app_configuration_mfa_path, method: :patch do |form| %>
  <div>
    <span><%= t("sign.app.configuration.mfa.show.toggle_title") %></span>
    <span><%= @user.multi_factor_enabled? ? t("sign.app.configuration.mfa.show.enabled") : t("sign.app.configuration.mfa.show.disabled") %></span>
    <%= form.check_box :multi_factor_enabled, {}, "1", "0" %>
  </div>

  <%= form.submit t("actions.save") %>
<% end %>

<ul>
  <li><%= link_to t("sign.app.configuration.mfa.show.passkeys"), sign_app_configuration_passkeys_path %> (<%= @passkeys.size %>)</li>
  <li><%= link_to t("sign.app.configuration.mfa.show.totps"), sign_app_configuration_totps_path %> (<%= @totps.size %>)</li>
  <li><%= link_to t("sign.app.configuration.mfa.show.secrets"), sign_app_configuration_secrets_path %> (<%= @secrets.size %>)</li>
</ul>
