<div>
  <h1 class="font-bold text-4xl">Dev::Www::Nets#show</h1>
  <p>Find me in app/views/dev/www/net/show.html.erb</p>
  <ul>
    <li><%= link_to 'health', www_app_health_url %></li>
    <li><%= link_to 'staging', www_app_staging_url %></li>
    <li><%= link_to 'Registration', new_www_app_registration_url %></li>
    <li><%= link_to 'Session', new_www_app_session_url %></li>
    <li><%= link_to 'sitemap', www_app_sitemap_url(format: :xml) %></li>
    <li><%= link_to 'RETURN', dev_www_path %></li>
  </ul>
</div>
