<header>
  <div>
    <span><%= local_assigns[:service_name] || "Sign" %></span>
    <h1>
      <% if local_assigns[:home_path].present? %>
        <%= link_to ENV.fetch("BRAND_NAME", "Umaxica"), home_path %>
      <% else %>
        <%= ENV.fetch("BRAND_NAME", "Umaxica") %>
      <% end %>
      <span>(<%= local_assigns[:namespace] || "app" %>)</span>
    </h1>
  </div>
  <nav>
    <%= yield %>
  </nav>
</header>
