<% content_for :page_title, t("controller.sign.app.setting.index.email") %>
<%= link_to t("sign.org.configuration.show.back"), identity.sign_org_configuration_path %>

<div>
  <%= link_to t("sign.org.configuration.email.index.new_link"),
              identity.new_sign_org_configuration_emails_registration_path %>
</div>

<table>
  <thead>
    <tr>
      <th scope="col"><%= t("activerecord.attributes.staff_email.address") %></th>
      <th scope="col"><%= t("activerecord.attributes.staff_email.status") %></th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @staff_emails.each do |email| %>
      <tr>
        <td><%= email.address %></td>
        <td>
          <% if [StaffEmailStatus::ACTIVE, StaffEmailStatus::VERIFIED].include?(email.staff_email_status_id) %>
            <span>認証済み</span>
          <% else %>
            <span>未認証</span>
          <% end %>
        </td>
        <td>
          <%= link_to t("sign.org.configuration.email.index.edit"),
                      identity.edit_sign_org_configuration_email_path(email.public_id) %>
        </td>
      </tr>
    <% end %>
    <% if @staff_emails.empty? %>
      <tr>
        <td colspan="3"><p><%= t("sign.org.configuration.email.index.empty") %></p></td>
      </tr>
    <% end %>
  </tbody>
</table>
