<% content_for :page_title, t('apex.org.preference.emails.title') %>

<h1><%= t('apex.org.preference.emails.title') %></h1>

<p><%= t('apex.org.preference.emails.description') %></p>

<%= form_with url: apex_org_configuration_email_path(params[:id]), method: :patch, local: true do |f| %>
  <div class="form-group">
    <%= f.label :enabled, t('apex.org.preference.emails.enabled_label') %>
    <%= f.check_box :enabled, checked: @email_preference[:enabled] %>
  </div>

  <div class="form-actions">
    <%= f.submit t('apex.org.preference.emails.save') %>
    <%= link_to t('apex.org.preference.emails.back'), apex_org_configuration_path %>
  </div>
<% end %>
