<!DOCTYPE html>
<html lang="<%= session[:language]&.downcase || 'ja' %>">
<head>
  <title><%= ENV.fetch('NAME') %> <%= content_for?(:page_title) ? "| #{yield(:page_title)} " : "" %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  <link rel="icon" href="https://perm.umaxica.com/jit/favicon.ico" sizes="32x32">
</head>

<body class="px-4">
  <%= render "concern/flash_messages" %>

<header class="max-w-5xl mx-auto flex items-center justify-between py-8">
  <h1 class="text-2xl font-semibold text-zinc-900">
    <a href="http://<%= ENV['EDGE_CORPORATE_URL'] %>:4444/" class="hover:text-zinc-600 transition">
      <%= ENV.fetch('NAME') %> (apex, com)
    </a>
  </h1>
</header>

<hr>

<main class="container mx-auto mt-28 px-5 block">
  <%= yield %>
</main>

<hr>

<footer>
  <ul>
    <li><a href="http://<%= ENV['EDGE_CORPORATE_URL'] %>/">Home</a></li>
    <li><%= link_to 'Support', help_com_root_url %></li>
    <li><%= link_to 'NewsRoom', news_com_root_url %></li>
    <li><%= link_to 'Documents', docs_com_root_url %></li>
    <li><%= link_to 'Cookie', edit_apex_com_preference_cookie_path, class: "hover:text-zinc-900 transition" %></li>
  </ul>
  <%= render "concern/copyright" %>
</footer>

</body>
</html>
