<!DOCTYPE html>
<html lang="<%= get_language %>" data-theme="<%= theme_cookie_value %>" class="<%= theme_html_class %>">
<head>
  <%= display_meta_tags site: "#{ENV['BRAND_NAME']} (com) Apex", title: (content_for(:page_title) if content_for?(:page_title)) %>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="turbo-refresh-method" content="morph">
  <meta name="turbo-refresh-scroll" content="preserve">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "apex/main" %>
  <%= stylesheet_link_tag "apex/com/main" %>
  <%= javascript_importmap_tags %>
  <link rel="icon" href="https://perm.umaxica.com/favicon.ico" sizes="32x32">
</head>

<body>
<div>
  <%= render "shared/flash_messages" %>
  <header>
    <div>
      <span>APEX</span>
      <h1>

        Umaxica (com)

      </h1>
    </div>
  </header>

  <hr>
<% if show_cookie_banner? %>
  <%= render "shared/cookie_banner" %>
<% end %>

    <main>
    <%= yield %>
  </main>

  <nav>

  </nav>

  <hr>

  <footer>
    <nav>
      <a href="http://com.localhost:3000/"><%= t('apex.com.preferences.footer.home') %></a>
      <%= link_to t('apex.com.preferences.footer.preference'), apex_com_preference_url %>
    </nav>
    <div>
      <%= render "shared/copyright" %>
    </div>
  </footer>
</div>

</body>
</html>
