<% content_for :page_title, t("sign.org.ups.new.heading") %>
<div class="animate-fade-in-up">
  <div>
    <h1>
      <%= t("sign.org.ups.new.heading") %>
    </h1>
    <p>
      <%= t("sign.org.ups.new.description") %>
    </p>
  </div>

  <div>

    <div>
      <p>
        <%= t("sign.org.ups.new.recruit_prompt") %>
      </p>
      <%= link_to t("sign.org.ups.new.recruit_link_text"),
                  apex_org_root_url(ri: params[:ri], lx: params[:lx]) %>
    </div>

    <div>
      <%= link_to apex_org_root_path do %>
        <span><%= t("sign.org.ups.new.back_to_root") %></span>
      <% end %>
    </div>
  </div>
</div>
