<h1><%= title t('help.com.contacts.new.page_title') %></h1>

<%= form_with model: @contact, url: help_com_contacts_path do |form| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul class="list-disc ml-6">
        <% @contact.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.checkbox :confirm_policy %>
    <%= form.label :confirm_policy, t('help.com.contacts.new.confirm_policy') %>
  </div>

  <div>
    <%= form.label :contact_category_title, t('help.com.contacts.new.contact_category_title') %>
    <%= form.collection_select :contact_category_title,
                               @contact_categories,
                               :title,
                               :title,
                               { include_blank: true } %>
  </div>

  <div>
    <% @contact.com_contact_emails.each do |email| %>
      <%= form.fields_for :com_contact_emails, email do |email_form| %>
        <%= email_form.label :email_address %>
        <%= email_form.email_field :email_address %>
      <% end %>
    <% end %>
  </div>

  <div>
    <% @contact.com_contact_telephones.each do |telephone| %>
      <%= form.fields_for :com_contact_telephones, telephone do |telephone_form| %>
        <%= telephone_form.label :telephone_number %>
        <%= telephone_form.text_field :telephone_number %>
      <% end %>
    <% end %>
  </div>

  <div>
    <%= link_to t('help.com.contacts.new.cancel'), help_com_root_path %>
  </div>

  <%= render "concern/cloudflare_turnstile" %>
  <%= form.submit %>
<% end %>
