<% content_for :page_title, t('sign.app.registration.telephone.new.page_title') %>
<div>
  <div>
    <h2><%= t('sign.app.registration.telephone.new.page_title') %></h2>
  </div>

  <div>
    <%= form_with model: @user_telephone, url: identity.sign_app_up_telephones_path, method: 'post', data: { turbo: false } do |form| %>
      <% if @user_telephone.errors.any? %>
        <div>
          <div>
            <div>
              <h3><%= pluralize(@user_telephone.errors.count, "error") %>
                prohibited this sample from being saved:</h3>
              <div>
                <ul role="list">
                  <% @user_telephone.errors.each do |error| %>
                    <li><%= error.full_message %></li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
        </div>
      <% end %>

      <div>
        <%= form.label :raw_number, UserTelephone.human_attribute_name(:number) %>
        <div>
          <%= form.text_field :raw_number, autocomplete: "tel-national", required: true %>
        </div>
      </div>

      <div>
        <div>
          <div>
            <%= form.check_box :confirm_policy %>
          </div>
          <div>
            <%= form.label :confirm_policy, '利用規約に同意する' %>
          </div>
        </div>

        <div>
          <div>
            <%= form.check_box :confirm_using_mfa %>
          </div>
          <div>
            <%= form.label :confirm_using_mfa, 'MFAの利用を確認する' %>
          </div>
        </div>
      </div>

      <div>
        <%= render "shared/cloudflare_turnstile" %>
      </div>

      <div>
        <%= form.submit %>
      </div>
    <% end %>

    <div>
      <div>
        <div>
          <%= link_to t('sign.app.registration.telephone.new.link_to_other_methods'), identity.new_sign_app_up_path %>
        </div>
        <div>
          <%= link_to t('sign.app.registration.telephone.new.link_to_sign_in'), identity.new_sign_app_in_path %>
        </div>
      </div>
    </div>
  </div>
</div>
