<% content_for :page_title, t('bff.org.preference.emails.title') %>

<h1><%= t('bff.org.preference.emails.title') %></h1>

<p><%= t('bff.org.preference.emails.description') %></p>

<%= form_with url: bff_org_preference_email_path(params[:id]), method: :patch, local: true do |f| %>
  <div class="form-group">
    <%= f.label :enabled, t('bff.org.preference.emails.enabled_label') %>
    <%= f.check_box :enabled, checked: @email_preference[:enabled] %>
  </div>

  <div class="form-actions">
    <%= f.submit t('bff.org.preference.emails.save'), class: 'px-4 py-2 bg-blue-600 hover:bg-blue-700 text-white font-medium rounded-md transition-colors duration-200 cursor-pointer' %>
    <%= link_to t('bff.org.preference.emails.back'), bff_org_preference_path, class: 'inline-block px-4 py-2 bg-gray-200 hover:bg-gray-300 text-gray-800 font-medium rounded-md transition-colors duration-200' %>
  </div>
<% end %>
