<%= render "shared/page_header",
           title: t("sign.app.configuration.withdrawal.new.title"),
           description: t("sign.app.configuration.withdrawal.new.description"),
           up_to: sign_app_configuration_path %>


<%= form_with url: sign_app_configuration_withdrawal_path, method: :post, local: true do |f| %>
  <div>
    <%= f.check_box :confirm_create_recovery_code %>
    <%= f.label :confirm_create_recovery_code, t("sign.app.configuration.withdrawal.new.recovery_code_label") %>
  </div>
  <%= render "shared/cloudflare_turnstile" %>
  <%= f.submit t("sign.app.configuration.withdrawal.new.submit"), class: "btn btn-danger" %>
<% end %>
