<% content_for :page_title, 'Documents' %>
<div>
  <div>
    <h1>Documents</h1>
    <%= link_to "New Document", new_docs_com_cms_document_path,
                data: { turbo_frame: "modal" } %>
  </div>

  <%= turbo_frame_tag "documents_list" do %>
    <div>
      <table>
        <thead>
        <tr>
          <th>Permalink</th>
          <th>Title</th>
          <th>Status</th>
          <th>Published At</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <% @documents.each do |document| %>
          <%= render "document", document: document %>
        <% end %>
        </tbody>
      </table>
    </div>

    <div>
      <% if @total_pages> 1 %>
        <nav>
          <ul>
            <% if @page> 1 %>
              <li>
                <%= link_to "Previous", docs_com_cms_documents_path(page: @page - 1) %>
              </li>
            <% end %>

            <% (1..@total_pages).each do |page_num| %>
              <li>
                <% if page_num == @page %>
                  <span><%= page_num %></span>
                <% else %>
                  <%= link_to page_num, docs_com_cms_documents_path(page: page_num) %>
                <% end %>
              </li>
            <% end %>

            <% if @page < @total_pages %>
              <li>
                <%= link_to "Next", docs_com_cms_documents_path(page: @page + 1) %>
              </li>
            <% end %>
          </ul>
        </nav>
      <% end %>
    </div>
  <% end %>
</div>

<%= turbo_frame_tag "modal" %>
