<div>
  <h1 class="font-bold text-4xl"><%= t('controller.www.app.registration.apple.new.page_title') %></h1>
  <p>Find me in app/views/net/registration/apples/new.html.erb</p>

  <%= form_with method: :post, model: @user, url: auth_app_registration_apple_path do |form| %>

    <% if @user.errors.any? %>
      <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this sample from being saved:</h2>

        <ul class="list-disc ml-6">
          <% @user.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>


    <%= form.hidden_field :return_to, value: params[:return_to] %>

    <%= form.submit %>
  <% end %>

  <ul>
    <li><%= link_to 'others?', new_auth_app_registration_path %></li>
    <li><%= link_to 'log in?', new_auth_app_authentication_apple_path %></li>
  </ul>
</div>
