<!DOCTYPE html>
<html lang="<%= get_language %>">
<head>

  <title><%= get_title(yield(:page_title)) %></title>  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "help/app/main" %>
  <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  <link rel="icon" href="https://perm.umaxica.app/favicon.ico" sizes="32x32">
</head>

<body class="px-4">
<%= render "concern/flash_messages" %>
<header>
  <h1><a href="http://<%= ENV['EDGE_SERVICE_URL'] %>/"><%= ENV.fetch('NAME') %> (help, app)</a></h1>
  <p>
    <%= link_to_if !@user&.active?, "logout?", new_sign_app_registration_path %>
    <%= link_to_unless @user&.active?, "login?", new_sign_app_registration_path %>
  </p>
</header>

<hr>

<main class="container mx-auto mt-28 px-5 block">
  <%= yield %>
</main>

<hr>

<footer>
  <ul>
    <li><a href="http://<%= ENV['EDGE_SERVICE_URL'] %>/">Home</a></li>
    <li><%= link_to 'Cookie', edit_apex_app_preference_cookie_url %></li>
    <li><%= link_to 'NewsRoom', news_app_root_url %></li>
    <li><%= link_to 'Document', docs_app_root_url %></li>
    <li><%= link_to 'Help Center', help_app_root_url %></li>
  </ul>
  <%= render "concern/copyright" %>
</footer>

</body>
</html>
