<div>
  <div>
    <span>
      <%= t('help.org.contacts.new.badge') %>
    </span>
    <h1>
      <%= title t('help.org.contacts.new.page_title') %>
    </h1>
    <p>
      <%= t('help.org.contacts.new.description') %>
    </p>
  </div>

  <%= form_with model: @contact,
                url: core_org_contacts_path,
                scope: :org_contact,
                data: { turbo: false },
                html: {} do |form| %>
    <% if @contact&.errors&.any? %>
      <div id="error_explanation">
        <h2>
          <%= t('help.org.contacts.new.error_heading', count: @contact.errors.count) %>
        </h2>

        <ul>
          <% @contact.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div>
      <div>
        <%= form.checkbox :confirm_policy,
                          checked: @contact&.confirm_policy == "1" %>
        <div>
          <%= form.label :confirm_policy, t('help.org.contacts.new.confirm_policy') %>
          <p>
            <%= t('help.org.contacts.new.confirm_policy_note') %>
          </p>
        </div>
      </div>

      <div>
        <%= form.label :category_id, t('help.org.contacts.new.category_id') %>
        <%= form.collection_select :category_id,
                                   @contact_categories,
                                   :id,
                                   :id,
                                   { include_blank: true } %>
      </div>

      <div>
        <%= form.label :title, t('help.org.contacts.new.title') %>
        <%= form.text_field :title,
                            value: params.dig(:org_contact, :title),
                            maxlength: 80 %>
      </div>

      <div>
        <%= form.label :body, t('help.org.contacts.new.body') %>
        <%= form.text_area :body,
                           value: params.dig(:org_contact, :body),
                           rows: 8,
                           maxlength: 8000 %>
      </div>
    </div>

    <div>
      <%= render "shared/cloudflare_turnstile_stealth" %>
    </div>

    <div>
      <%= link_to t('help.org.contacts.new.cancel'),
                  core_org_root_path %>
      <%= form.submit t('help.org.contacts.new.submit', default: t('helpers.submit.create')) %>
    </div>
  <% end %>
</div>
