<% content_for :title, "Showing sample" %>

<div class="md:w-2/3 w-full">

  <h1 class="font-bold text-4xl">Showing sample</h1>

  <%= form_with model: @user_email, url: sign_app_registration_email_path, method: :patch do |form| %>
    <%= hidden_field_tag :rd, params[:rd] if params[:rd].present? %>

    <% if @user_email.errors.any? %>
      <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
        <h2><%= pluralize(@user_email.errors.count, "error") %> prohibited this sample from being saved:</h2>

        <ul class="list-disc ml-6">
          <% @user_email.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div>
      <%= form.label :pass_code %>
      <%= form.text_field :pass_code %>
    </div>

    <%= form.submit %>
  <% end %>

  <div class="mt-6">
    <%= link_to t("controller.sign.app.registration.email.edit.return_page"), new_sign_app_registration_path, class: "inline-flex items-center justify-center px-4 py-2 bg-blue-600 text-white font-semibold rounded-md hover:bg-blue-700 transition" %>
  </div>

</div>
