<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-8">
  <div class="md:grid md:grid-cols-3 md:gap-6">
    <div class="md:col-span-1">
      <div class="px-4 sm:px-0">
        <h3 class="text-lg font-medium leading-6 text-gray-900">
          <%= t('sign.app.setting.totp.edit.title') %>
        </h3>
        <p class="mt-1 text-sm text-gray-600">
          <%= t('sign.app.setting.totp.edit.description') %>
        </p>
      </div>
    </div>

    <div class="mt-5 md:col-span-2 md:mt-0">
      <%= form_with model: @totp, url: sign_app_configuration_totp_path(@totp.public_id), method: :patch, class: "shadow sm:overflow-hidden sm:rounded-md" do |form| %>
        <div class="space-y-6 bg-white px-4 py-5 sm:p-6">
          <% if @totp.errors.any? %>
            <div class="rounded-md bg-red-50 p-4">
              <div class="flex">
                <div class="ml-3">
                  <h3 class="text-sm font-medium text-red-800">
                    <%= t('errors.template.header', count: @totp.errors.count) %>
                  </h3>
                  <div class="mt-2 text-sm text-red-700">
                    <ul role="list" class="list-disc pl-5 space-y-1">
                      <% @totp.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                      <% end %>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          <% end %>

          <div class="grid grid-cols-3 gap-6">
            <div class="col-span-3 sm:col-span-2">
              <%= form.label :title, t('activerecord.attributes.user_one_time_password.title'), class: "block text-sm font-medium text-gray-700" %>
              <div class="mt-1">
                <%= form.text_field :title, class: "block w-full flex-1 rounded-md border-gray-300 focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm", maxlength: 32, placeholder: t('messages.totp_title_placeholder') %>
              </div>
              <p class="mt-2 text-sm text-gray-500">
                <%= t('sign.app.setting.totp.edit.title_hint') %>
              </p>
            </div>
          </div>
        </div>

        <div class="bg-gray-50 px-4 py-3 sm:px-6 flex justify-end items-center">
          <div>
            <%= link_to t('actions.cancel'), sign_app_configuration_totps_path, class: "inline-flex justify-center rounded-md border border-gray-300 bg-white py-2 px-4 text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 mr-3" %>
            <%= form.submit t('actions.save'), class: "inline-flex justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2" %>
          </div>
        </div>
      <% end %>
      <div class="mt-4 flex justify-start">
        <%= button_to t('actions.delete'),
                      sign_app_configuration_totp_path(@totp.public_id),
                      method: :delete,
                      form: { data: { turbo_confirm: t('messages.confirm_delete_totp') } },
                      class: "inline-flex justify-center rounded-md border border-transparent bg-red-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-offset-2" %>
      </div>
    </div>
  </div>
</div>
