          <%= link_to t('sign.app.configuration.show.back'), sign_app_configuration_path %>

<div>
  <div>
    <%= link_to t('sign.app.configuration.telephone.index.new_link'),
          new_sign_app_configuration_telephones_registration_path %>
  </div>
</div>

  <div>
    <div>
      <div>
        <div>
          <table>
            <thead>
            <tr>
              <th scope="col"><%= t('activerecord.attributes.user_telephone.number') %></th>
              <th scope="col"><%= t('activerecord.attributes.user_telephone.status') %></th>
              <th scope="col">
                <span>アクション</span>
              </th>
            </tr>
            </thead>
            <tbody>
            <% @user_telephones.each do |telephone| %>
              <tr>
                <td><%= telephone.address %></td>
                <td>
                  <% if telephone.try(:confirmed_at) %>
                      <span>
                        認証済み
                      </span>
                  <% else %>
                      <span>
                        未認証
                      </span>
                  <% end %>
                </td>
                <td>
                  <%= button_to t("sign.app.configuration.telephone.index.delete"),
                                sign_app_configuration_telephone_path(telephone),
                                method: :delete,
                                data: { turbo_confirm: t("sign.app.configuration.telephone.index.delete_confirm") } %>
                </td>
              </tr>
            <% end %>
            <% if @user_telephones.empty? %>
              <tr>
                <td colspan="3" class="italic">
                  電話番号は登録されていません。
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
