<% content_for :page_title, t('sign.app.configuration.telephone.new.title') %>
<div>
  <div>
    <div>
      <div>
        <h3><%= t('sign.app.configuration.telephone.new.title') %></h3>
        <p>
          新しい電話番号を追加して、アカウントの管理をより安全にします。
        </p>
      </div>
    </div>

    <div>
      <%= form_with(model: @user_telephone, url: sign_app_configuration_telephones_path) do |form| %>
        <div>
          <div>
            <div>
              <%= form.label :raw_number, t('activerecord.attributes.user_telephone.number') %>
              <div>
                <%= form.telephone_field :raw_number, placeholder: "+819012345678" %>
              </div>
              <p>入力された電話番号にSMS等で確認コードを送信します。</p>
            </div>
          </div>
        </div>
        <div>
          <%= link_to t('actions.cancel'), sign_app_configuration_telephones_path %>
          <%= form.submit t('actions.submit') %>
        </div>
      <% end %>
    </div>
  </div>
</div>
