<div>
  <h1 class="font-bold text-4xl"><%= t('auth.app.registration.new.page_title') %></h1>
  <p><%= t('auth.app.registration.new.page_description') %></p>

  <ul>
    <li><%= link_to t('auth.app.registration.new.links.email'), new_auth_app_registration_email_path %></li>
    <li><%= link_to t('auth.app.registration.new.links.telephone'), new_auth_app_registration_telephone_path %></li>
    <li><%= button_to t('auth.app.registration.new.buttons.google'), "/auth/google_oauth2", method: :post, data: { turbo: false } %></li>
    <li><%= button_to t('auth.app.registration.new.buttons.apple'), "/auth/apple", method: :post, data: { turbo: false } %></li>
    <li><%= link_to t('auth.app.registration.new.links.sign_up'), new_auth_app_authentication_path %></li>
  </ul>
</div>
