<h1>Secrets</h1>

<div id="secrets">
  <% @secrets.each do |secret| %>
    <%= render secret %>
    <p>
      <%= link_to "Show this secret", sign_app_setting_secret_path(secret) %>
    </p>
  <% end %>
</div>

<%= link_to "New secret", new_sign_app_setting_secret_path %>

<%# 個別のシークレットを表示するためのパーシャルファイル _secret.html.erb を作成します %>
<%# --- a/app/views/sign/app/setting/secrets/_secret.html.erb --- %>
<%# +++ b/app/views/sign/app/setting/secrets/_secret.html.erb --- %>
<%# @@ -0,0 +1,5 @@ %>
<%# +<div id="<%= dom_id secret %>"> %>
<%# +  <p> %>
<%# +    <strong>Name:</strong> %>
<%# +    <%= secret.name %> %>
<%# +  </p> %>
<%# +</div> %>
