<p style="color: green"><%= notice %></p>

<%= render @secret %>

<div>
  <%= link_to "Edit this secret", edit_sign_app_setting_secret_path(@secret) %> |
  <%= link_to "Back to secrets", sign_app_setting_secrets_path %>

  <%= button_to "Destroy this secret", sign_app_setting_secret_path(@secret), method: :delete %>
</div>
