<h1><%= title t("sign.app.authentication.telephone.new.page_title") %></h1>
<p><%= t("sign.app.authentication.telephone.new.description") %></p>

<%= form_with model: @user_telephone, url: sign_app_in_passkey_path, method: :patch, data: { turbo: false } do |form| %>
  <div>
    <%= form.label :address %>
    <%= form.email_field :address %>
  </div>

  <%= render "shared/cloudflare_turnstile" %>

  <%= form.submit %>
<% end %>
