<% title t("sign.org.authentication.passkey.new.page_title") %>

<div>
  <div>
    <h1><%= t("sign.org.authentication.passkey.new.page_title") %></h1>
    <p><%= t("sign.org.authentication.passkey.new.description") %></p>
  </div>

  <div
    data-controller="passkey-authentication"
    data-passkey-authentication-options-url-value="<%= options_sign_org_in_passkeys_path %>"
    data-passkey-authentication-verification-url-value="<%= verification_sign_org_in_passkeys_path %>"
    data-passkey-authentication-identifier-param-value="identifier">

    <div>
      <label for="identifier">
        <%= t("sign.org.authentication.passkey.new.identifier_label") %>
      </label>
      <input type="text"
             id="identifier"
             data-passkey-authentication-target="identifier"
             placeholder="<%= t("sign.org.authentication.passkey.new.identifier_placeholder") %>"
             autocomplete="username webauthn"
             autocapitalize="characters"
             minlength="<%= Staff::PUBLIC_ID_LENGTH %>"
             maxlength="<%= Staff::PUBLIC_ID_LENGTH %>"
             pattern="[0-9A-FGHJKMNPQRSTVWXYZ]{16}"
             spellcheck="false"
             required>
    </div>

    <p data-passkey-authentication-target="error" class="hidden"></p>
    <p data-passkey-authentication-target="status" class="hidden"></p>

    <div>
      <button type="button"
              data-action="click->passkey-authentication#authenticate">
        <%= t("sign.org.authentication.passkey.new.submit") %>
      </button>
      <%= link_to t("sign.org.authentication.new.back"), new_sign_org_in_path %>
    </div>
  </div>
</div>
