<%
  variant ||= :primary
  type ||= :button
%>

<% if local_assigns[:href] %>
  <% link_options = {} %>
  <% link_options[:data] = local_assigns[:data] if local_assigns[:data] %>
  <%= link_to href, link_options do %>
    <%= local_assigns[:label] || yield %>
  <% end %>
<% else %>
  <button type="<%= type %>"
          <%= "class=\"#{local_assigns[:class]}\"" if local_assigns[:class].present? %>
          <%= "disabled" if local_assigns[:disabled] %>
          <% if local_assigns[:data] %>
          <% data.each do |k, v| %>
          data-<%= k %>="<%= v %>"
          <% end %>
          <% end %>>
    <%= local_assigns[:label] || yield %>
  </button>
<% end %>
