<h1><%= t('controller.apex.com.preference.cookie.edit.page_title') %></h1>
<p><%= t('controller.apex.com.preference.cookie.edit.page_description') %></p>
<%= form_with url: apex_com_preference_cookie_url, method: :patch do |f| %>
  <div class="interests-selection">
    <%= f.check_box :accept_tracking_cookies, { checked: @accept_tracking_cookies } %>
    <%= f.label :accept_tracking_cookies, t('controller.apex.com.preference.cookie.edit.accept_tracking_cookies') %>
  </div>
  <div> <%= f.submit %></div>
<% end %>
