<h2><%= t('mail.email.app.registration_mailer.create.title') %></h2>

<p><%= t('mail.common.greeting') %></p>

<p><%= t('mail.email.app.registration_mailer.create.instruction') %></p>

<div class="otp-code">
  <%= @pass_code %>
</div>

<% if @verification_token && @public_id %>
  <p>
    <%= link_to identity.edit_sign_app_configuration_email_url(@public_id, token: @verification_token), target: "_blank" do %>
      Verify Email
    <% end %>
  </p>
<% end %>

<p>
  <small><%= t('mail.email.app.registration_mailer.create.expiration_note') %></small>
</p>

<p>
  <%= t('mail.email.app.registration_mailer.create.ignore_instruction') %>
</p>
