<% content_for :page_title, "Telephones" %>
<%= link_to t("sign.app.configuration.show.back"), sign_com_configuration_path(ri: params[:ri]) %>

<div>
  <div>
    <%= link_to t("sign.app.configuration.telephone.index.new_link"),
                new_sign_com_configuration_telephones_registration_path(ri: params[:ri]) %>
  </div>
</div>

<div>
  <div>
    <div>
      <div>
        <table>
          <thead>
          <tr>
            <th scope="col"><%= CustomerTelephone.human_attribute_name(:number) %></th>
            <th scope="col"><%= t("activerecord.attributes.user_telephone.status") %></th>
            <th scope="col">
              <span>アクション</span>
            </th>
          </tr>
          </thead>
          <tbody>
          <% @user_telephones.each do |telephone| %>
            <tr>
              <td><%= telephone.number %></td>
              <td>
                <% if [CustomerTelephoneStatus::VERIFIED, CustomerTelephoneStatus::VERIFIED_WITH_SIGN_UP].include?(telephone.customer_telephone_status_id) %>
                  <span>認証済み</span>
                <% else %>
                  <span>未認証</span>
                <% end %>
              </td>
              <td>
                <%= link_to t("sign.app.configuration.telephone.index.edit"),
                            edit_sign_com_configuration_telephone_path(telephone, ri: params[:ri]) %>
              </td>
            </tr>
          <% end %>
          <% if @user_telephones.empty? %>
            <tr>
              <td colspan="3" class="italic">
                電話番号は登録されていません。
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
