<h1 class="font-bold text-4xl"><%= title t("sign.app.authentication.telephone.new.page_title") %></h1>
<p class="mt-2 text-sm text-slate-600"><%= t("sign.app.authentication.telephone.new.description") %></p>

<%= form_with model: @user_telephone, url: sign_app_authentication_passkey_path, method: :patch, data: { turbo: false } do |form| %>
  <div>
    <%= form.label :address %>
    <%= form.email_field :address %>
  </div>

  <%= render "concern/cloudflare_turnstile" %>

  <%= form.submit %>
<% end %>
