<% content_for :page_title, t("sign.app.configuration.activity.index.page_title") %>
<%= link_to t("sign.app.configuration.show.back"), sign_app_configuration_path(ri: params[:ri]) %>

<h1><%= t("sign.app.configuration.activity.index.page_title") %></h1>
<p><%= t("sign.app.configuration.activity.index.description") %></p>

<% if @activities.any? %>
  <table>
    <thead>
      <tr>
        <th><%= t("sign.app.configuration.activity.index.table.occurred_at") %></th>
        <th><%= t("sign.app.configuration.activity.index.table.event") %></th>
        <th><%= t("sign.app.configuration.activity.index.table.ip_address") %></th>
        <th>Device</th>
        <th>Login method</th>
        <th><%= t("sign.app.configuration.activity.index.table.context") %></th>
      </tr>
    </thead>
    <tbody>
      <% @activities.each do |activity| %>
        <tr>
          <td><%= l(activity_occurred_at(activity), format: :long) %></td>
          <td>
            <%= activity_event_label(activity) %>
            (<%= activity.event_id %>)
          </td>
          <td><%= activity_ip_address(activity) %></td>
          <td><%= activity_user_agent_summary(activity) %></td>
          <td><%= activity_login_method(activity) %></td>
          <td><code><%= activity_context_text(activity) %></code></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p><%= t("sign.app.configuration.activity.index.empty") %></p>
<% end %>
