<div>
  <div>
    <div>
      <div>
        <h3><%= t('sign.app.configuration.passkeys.show.title') %></h3>
        <p><%= t('sign.app.configuration.passkeys.show.description') %></p>
      </div>
    </div>
    <div>
      <div>
        <div>
          <div>
            <h3><%= @passkey.description %></h3>
          </div>
          <dl>
            <div>
              <dt><%= t('activerecord.attributes.user_passkey.created_at') %></dt>
              <dd><%= l @passkey.created_at, format: :long %></dd>
            </div>
            <div>
              <dt><%= t('activerecord.attributes.user_passkey.last_used_at') %></dt>
              <dd><%= @passkey.last_used_at ? l(@passkey.last_used_at, format: :long) : t('defaults.never') %></dd>
            </div>
          </dl>
        </div>
        <div>
          <%= link_to t('actions.back'), sign_app_configuration_passkeys_path %>
          <%= link_to t('actions.edit'), edit_sign_app_configuration_passkey_path(@passkey) %>
        </div>
      </div>
    </div>
  </div>
</div>
