<h2><%= t('mail.email.app.registration_mailer.create.title') %></h2>

<p><%= t('mail.common.greeting') %></p>

<p><%= t('mail.email.app.registration_mailer.create.instruction') %></p>

<div class="otp-code">
  <%= @pass_code %>
</div>

<p>
  <small><%= t('mail.email.app.registration_mailer.create.expiration_note') %></small>
</p>

<p>
  <%= t('mail.email.app.registration_mailer.create.ignore_instruction') %>
</p>
