<% content_for :page_title, 'Roots' %>
<section>
  <h1>
    Welcome to <%= ENV["BRAND_NAME"] %> (org)
  </h1>
  <p>
    <%= t("apex.org.preferences.footer.preference") %> へすぐ移動できます。
  </p>

  <ul>
    <li>
      <a
        href="https://<%= ENV['EDGE_STAFF_URL'] %>"
        data-turbo-frame="_top">
        <%= t("apex.org.preferences.footer.home") %>
      </a>
    </li>
    <li>
      <%= link_to t("apex.org.configurations.title"), apex_org_configuration_path,
                  data: { turbo_frame: "_top" } %>
    </li>
    <li>
      <%= link_to t("apex.org.preferences.footer.preference"), sign_org_preference_url,
                  data: { turbo_frame: "_top" } %>
    </li>
  </ul>
</section>
