<% content_for :page_title, t('peak.org.configurations.title') %>

<h1><%= t('peak.org.configurations.title') %></h1>

<p><%= t('peak.org.configurations.description') %></p>

<div class="configuration-list">
  <ul>
    <li>
      <%= link_to t('peak.org.configurations.i18n_settings'), edit_peak_org_preference_region_path, class: 'configuration-link' %>
      <p class="text-sm text-gray-600"><%= t('peak.org.configurations.i18n_settings_description') %></p>
    </li>
    <li>
      <%= link_to t('peak.org.configurations.email_settings'), new_peak_org_configuration_email_path, class: 'configuration-link' %>
      <p class="text-sm text-gray-600"><%= t('peak.org.configurations.email_settings_description') %></p>
    </li>
  </ul>
</div>
