<% content_for :page_title, 'Post' %>
<%= turbo_frame_tag "post_detail" do %>
  <article>
    <div>
      <div>
        <div>
          <h1><%= @post[:title] %></h1>
          <div>
            <span>
              <code><%= @post[:id] %></code>
            </span>
            <% if @post[:published_at].present? %>
              <span><%= @post[:published_at].strftime("%Y-%m-%d") %></span>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div>
      <div>
        <%= simple_format(@post[:body], {}, sanitize: true) %>
      </div>
    </div>
  </article>
<% end %>
