<% content_for :page_title, t('back.org.preferences.title') %>

<h1><%= t('back.org.preferences.title') %></h1>

<p><%= t('back.org.preferences.description') %></p>

<div class="configuration-list">
  <ul>
    <li>
      <%= link_to t('back.org.preferences.email_settings'), new_back_org_preference_email_path, class: 'configuration-link' %>
      <p class="text-sm text-gray-600"><%= t('back.org.preferences.email_settings_description') %></p>
    </li>
  </ul>
  <p class="text-sm text-gray-500 mt-4"><%= t('back.org.preferences.token_guidance') %></p>
</div>
