<% content_for :page_title, @bulletin&.title || t("sign.app.in.bulletins.show.title") %>

<h1><%= @bulletin&.title || t("sign.app.in.bulletins.show.title") %></h1>
<p><%= @bulletin&.body || t("sign.app.in.bulletins.show.body") %></p>

<%= form_with url: identity.sign_app_in_bulletin_path(ri: params[:ri]), method: :patch do %>
  <%= hidden_field_tag :rd, params[:rd] %>
  <%= submit_tag t("sign.app.in.bulletins.show.actions.update") %>
<% end %>

<%= form_with url: identity.sign_app_in_bulletin_path(ri: params[:ri]), method: :delete do %>
  <%= hidden_field_tag :rd, params[:rd] %>
  <%= submit_tag t("sign.app.in.bulletins.show.actions.continue") %>
<% end %>
