<h1 class="font-bold text-4xl"><%= t('controller.auth.app.setting.recovery.index.page_title') %></h1>
<p>Find me in app/views/www/app/setting/recoveries/index.html.erb</p>

<ul>
  <% @user_recover_code.each do |urc| %>
    <li><%= urc.created_at %>, <%= link_to 'edit', auth_app_setting_recovery_path(urc.id) %></li>
  <% end %>
</ul>

<p><%= link_to 'new recovery code', new_auth_app_setting_recovery_path %></p>
<p><%= link_to t('controller.auth.app.setting.recovery.index.return_page'), auth_app_setting_path %></p>