<p style="color: green"><%= notice %></p>

<%= render "user_recovery_code", user_recovery_code: @user_recovery_code %>

<div>
  <%= link_to "Edit this user recovery code", edit_auth_app_setting_recovery_path(@user_recovery_code) %> |
  <%= link_to "Back to user recovery codes", auth_app_setting_recoveries_path %>

  <%= button_to "Destroy this user recovery code", auth_app_setting_recovery_path(@user_recovery_code), method: :delete %>
</div>