<h1>お問い合わせ内容入力</h1>

<%= form_with model: @topic,
              url: core_com_contact_path(@contact),
              method: :patch,
              scope: :com_contact_topic,
              html: {  } do |form| %>
  <% if @topic&.errors&.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@topic.errors.count, "error") %> prohibited this topic from being saved:</h2>

      <ul>
        <% @topic.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, "タイトル" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description, "内容" %>
    <%= form.text_area :description, rows: 10 %>
  </div>

  <div>
    <%= link_to "キャンセル", core_com_root_path %>
  </div>

  <%= form.submit "送信" %>
<% end %>
