<div>
  <div>
    <span>
      <%= t('help.com.contacts.new.badge') %>
    </span>
    <h1>
      <%= title t('help.com.contacts.new.page_title') %>
    </h1>
    <p>
      <%= t('help.com.contacts.new.description') %>
    </p>
  </div>

  <%= form_with model: @contact,
                url: core_com_contacts_path,
                scope: :com_contact,
                data: { turbo: false },
                html: {} do |form| %>
    <% if @contact&.errors&.any? %>
      <div id="error_explanation">
        <h2>
          <%= t('help.com.contacts.new.error_heading', count: @contact.errors.count) %>
        </h2>

        <ul>
          <% @contact.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div>
      <div>
        <%= form.checkbox :confirm_policy,
                          checked: @contact&.confirm_policy == "1" %>
        <div>
          <%= form.label :confirm_policy, t('help.com.contacts.new.confirm_policy') %>
          <p>
            <%= t('help.com.contacts.new.confirm_policy_note') %>
          </p>
        </div>
      </div>

      <div>
        <%= form.label :category_id, t('help.com.contacts.new.category_id') %>
        <%= form.collection_select :category_id,
                                   @contact_categories,
                                   :id,
                                   :id,
                                   { include_blank: true } %>
      </div>

      <div>
        <%= form.label :email_address, t('help.com.contacts.new.email_address') %>
        <%= form.email_field :email_address,
                             value: @email_address %>
      </div>

      <div>
        <%= form.label :telephone_number, t('help.com.contacts.new.telephone_number') %>
        <%= form.text_field :telephone_number,
                            value: @telephone_number %>
      </div>
    </div>

    <div>
      <%= render "shared/cloudflare_turnstile" %>
    </div>

    <div>
      <%= link_to t('help.com.contacts.new.cancel'),
                  core_com_root_path %>
      <%= form.submit t('help.com.contacts.new.submit', default: t('helpers.submit.create')) %>
    </div>
  <% end %>
</div>
