<% content_for :page_title, t("apex.org.configurations.title") %>

<section>
  <h1>
    <%= title t("apex.org.configurations.title") %>
  </h1>
  <p>
    <%= t("apex.org.configurations.description") %>
  </p>

  <ul>
    <li>
      <%= link_to t("apex.org.configurations.email_settings"), new_apex_org_configuration_email_path %>
    </li>
  </ul>

  <p>
    <%= link_to apex_org_root_path(ct: "dr", lx: "en", ri: "us", tz: "jst") do %>
      <span>↑</span>
      <span><%= t("apex.org.preferences.up_link") %></span>
    <% end %>
  </p>
</section>
