<!DOCTYPE html>
<html lang="<%= get_language %>" data-theme="<%= theme_cookie_value %>" class="<%= theme_html_class %>">
<%= render "layouts/shared/head",
           namespace: "app",
           stylesheets: ["apex/main", "apex/app/main"],
           title: "#{ENV['BRAND_NAME']} (app) Apex" %>

<body>
<div>
  <div>
    <%= render "shared/flash_messages" %>

    <%= render "layouts/shared/header",
               service_name: "APEX",
               namespace: "app",
               home_path: "http://app.localhost:3000/" do %>
      <% unless logged_in? %>
        <%= link_to t("sign.app.layout.nav.sign_up"), new_sign_app_up_url(host: ENV['SIGN_SERVICE_URL']) %>
        <%= link_to t("sign.app.layout.nav.log_in"), new_sign_app_in_url(host: ENV['SIGN_SERVICE_URL']) %>
      <% else %>
        <%= link_to t("sign.app.layout.nav.configuration"), sign_app_configuration_url(host: ENV['SIGN_SERVICE_URL']) %>
        <%= link_to t("sign.app.layout.nav.logout"), edit_sign_app_configuration_out_url(host: ENV['SIGN_SERVICE_URL']) %>
      <% end %>
    <% end %>

    <main>
      <%= yield %>
    </main>

    <%= render "layouts/shared/footer" do %>
      <a href="http://app.localhost:3000/"><%= t('apex.app.preferences.footer.home') %></a>
      <%= link_to t('apex.app.preferences.footer.preference'), apex_app_preference_url %>
      <%= link_to t("apex.app.configurations.title"), apex_app_configuration_path %>
    <% end %>
  </div>
</div>
</body>
</html>
