<h1>Www::App::Contacts#edit</h1>
<p>Find me in app/views/www/app/contacts/edit.html.erb</p>

<%= form_with model: @service_site_contact, url: help_app_inquiry_path(params[:id]), method: 'put' do |form| %>
  <% if @service_site_contact.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(@service_site_contact.errors.count, "error") %> prohibited this sample from being saved:</h2>

      <ul class="list-disc ml-6">
        <% @service_site_contact.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <%= form.submit %>
<% end %>
