<% content_for :page_title, t('sign.org.configuration.passkeys.edit.title') %>
<div>
  <div>
    <h1><%= t('sign.org.configuration.passkeys.edit.title') %></h1>
  </div>

  <%= form_with model: @passkey, url: identity.sign_org_configuration_passkey_path(@passkey), method: :patch do |form| %>
    <% if @passkey.errors.any? %>
      <div>
        <div>
          <div>
            <h3>
              <%= t('errors.messages.validation_errors', count: @passkey.errors.count) %>
            </h3>
            <div>
              <ul>
                <% @passkey.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <div>
      <%= form.label :description, t('activerecord.attributes.staff_passkey.description') %>
      <%= form.text_field :description, maxlength: 100 %>
    </div>

    <div>
      <%= form.submit t('actions.save') %>
      <%= link_to t('sign.common.cancel'), identity.sign_org_configuration_passkeys_path %>
    </div>
  <% end %>
</div>
