<% title t("sign.app.verification.new.title") %>

<div>
  <h1><%= t("sign.app.verification.new.title") %></h1>
  <p><%= t("sign.app.verification.new.description") %></p>

  <% if @reauth_session.errors.any? %>
    <div>
      <%= @reauth_session.errors.full_messages.to_sentence %>
    </div>
  <% end %>

  <%= form_with model: @reauth_session, url: sign_app_verification_emails_path(ri: params[:ri]), method: :post, data: { turbo: false } do |f| %>
    <%= f.hidden_field :scope, value: @reauth_session.scope, name: "verification[scope]" %>
    <%= f.hidden_field :return_to, value: @reauth_session.return_to, name: "verification[return_to]" %>

    <div>
      <%= f.submit t("sign.app.verification.new.methods.email_otp") %>
    </div>
  <% end %>

  <div>
    <%= link_to t("sign.app.verification.new.back"), sign_app_verification_path(ri: params[:ri]) %>
  </div>
</div>
