<% content_for :page_title, 'Edit Timezone' %>
<section>
  <h1>
    <%= t("apex.org.preference.timezone.edit.heading") %>
  </h1>
  <p>
    <%= t("apex.org.preference.timezone.edit.description") %>
  </p>

  <% timezone_labels = I18n.t("apex.org.preference.locale.edit.timezone_options") %>
  <% timezone_options = OrgPreferenceTimezoneOption.order(:id).map do |option|
    label_key = case option.name
                when "Etc/UTC" then "UTC"
                when "Asia/Tokyo" then "JST"
                end
    label = label_key ? timezone_labels[label_key] : nil
    [label.presence || ActiveSupport::TimeZone[option.name]&.to_s || option.name, option.id]
  end %>

  <%= form_with model: @preference_timezone, scope: :preference_timezone, url: sign_org_preference_region_timezone_path, method: :patch do |f| %>
    <div>
      <%= f.label :option_id,
                  t("apex.org.preference.timezone.edit.timezone_label") %>
      <div>
        <%= f.select :option_id,
                     options_for_select(timezone_options, @preference_timezone.option_id),
                     { include_blank: false },
                     {} %>
      </div>
    </div>

    <div>
      <%= f.submit t("apex.org.preferences.update_settings"),
                   data: { turbo_submits_with: t("apex.org.preferences.submitting") } %>
      <%= link_to t("apex.org.preferences.region_settings"), edit_sign_org_preference_region_path %>
      <%= link_to t("apex.org.preferences.back_to_settings"), sign_org_preference_url %>
    </div>
  <% end %>
</section>
