<% content_for :page_title, t('apex.com.preferences.cookie_settings') %>

<section data-controller="cookie-toggle">
  <h1>
    <%= t('apex.com.preference.cookie.edit.h1') %>
  </h1>
  <div data-cookie-toggle-target="status">
    <!-- Stimulus renders the status here. -->
  </div>

  <%= form_with model: @preference_cookie, scope: :preference_cookie, url: sign_com_preference_cookie_url, method: :patch do |f| %>
    <div>
      <div>
        <%= check_box_tag :accept_necessary_cookies, "1", true, disabled: true %>
        <%= label_tag :accept_necessary_cookies, t('apex.com.preference.cookie.edit.accept_necessary_cookies') %>
      </div>

      <% { functional: 'accept_functional_cookies', performant: 'accept_performance_cookies', targetable: 'accept_targeting_cookies', consented: 'accept_consent_cookies' }.each do |field, label_key| %>
        <div>
          <%= f.check_box field, { data: { cookie_toggle_target: "checkbox", action: "change->cookie-toggle#toggle" } } %>
          <%= f.label field, t("apex.com.preference.cookie.edit.#{label_key}") %>
        </div>
      <% end %>
    </div>

    <div>
      <%= f.submit t('apex.com.preferences.update_settings'),
                   data: { turbo_submits_with: t("apex.com.preferences.submitting") } %>
      <%= link_to t('apex.com.preferences.back_to_settings'), sign_com_preference_url %>
    </div>
  <% end %>
</section>
