<% title t("sign.org.reauth.show.title") %>

<div>
  <div>
    <h1><%= t("sign.org.reauth.show.title") %></h1>
    <%= link_to t("sign.org.reauth.show.list"), identity.sign_org_verification_path %>
  </div>

  <div>
    <dl>
      <div>
        <dt><%= t("sign.org.reauth.index.table.scope") %></dt>
        <dd><%= @reauth_session.scope %></dd>
      </div>
      <div>
        <dt><%= t("sign.org.reauth.index.table.method") %></dt>
        <dd><%= @reauth_session.method %></dd>
      </div>
      <div>
        <dt><%= t("sign.org.reauth.index.table.status") %></dt>
        <dd><%= @reauth_session.status %></dd>
      </div>
      <div>
        <dt><%= t("sign.org.reauth.index.table.expires") %></dt>
        <dd><%= l(@reauth_session.expires_at, format: :short) %></dd>
      </div>
    </dl>

    <div>
      <%= link_to t("sign.org.reauth.show.to_edit"), identity.sign_org_verification_path %>
      <% if @reauth_session.status == "PENDING" %>
        <%= link_to t("sign.org.reauth.show.cancel"), identity.sign_org_verification_path, data: { turbo_method: :delete, turbo_confirm: t("sign.org.reauth.show.confirm_cancel") } %>
      <% end %>
    </div>
  </div>
</div>
