<% content_for :page_title, t('.title') %>
<div>
  <div>
    <div>
      <h1><%= t('.title') %></h1>
      <p><%= t('.description') %></p>
    </div>
    <div>
      <%= link_to t('.new'), identity.new_sign_org_configuration_secret_path %>
    </div>
  </div>
  <div>
    <div>
      <div>
        <div>
          <table>
            <thead>
            <tr>
              <th scope="col"><%= t('activerecord.attributes.staff_secret.name') %></th>
              <th scope="col"><%= t('activerecord.attributes.staff_secret.created_at') %></th>
              <th scope="col"><%= t('activerecord.attributes.staff_secret.last_used_at') %></th>
              <th scope="col">
                <span>Actions</span>
              </th>
            </tr>
            </thead>
            <tbody>
            <% @secrets.each do |secret| %>
              <tr>
                <td><%= secret.name %></td>
                <td><%= l(secret.created_at, format: :short) %></td>
                <td><%= secret.last_used_at ? l(secret.last_used_at, format: :short) : '-' %></td>
                <td>
                  <%= link_to t('actions.edit'), identity.edit_sign_org_configuration_secret_path(secret) %>
                  <%= link_to t('actions.destroy'), identity.sign_org_configuration_secret_path(secret), data: { turbo_method: :delete, turbo_confirm: t('messages.confirm_destroy') } %>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
