<% content_for :page_title, t('.title') %>
<div>
  <div>
    <div>
      <div>
        <h3><%= t('.title') %></h3>
        <p><%= t('.description') %></p>
      </div>
    </div>
    <div>
      <%= form_with(model: @secret, url: identity.sign_org_configuration_secrets_path) do |form| %>
        <div>
          <% if @secret.errors.any? %>
            <div>
              <div>
                <div>
                  <h3><%= t('errors.template.header', model: @secret.model_name.human, count: @secret.errors.count) %></h3>
                  <div>
                    <ul role="list">
                      <% @secret.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                      <% end %>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          <% end %>

          <div>
            <div>
              <%= form.label :name %>
              <div>
                <%= form.text_field :name %>
              </div>
            </div>
          </div>

          <div>
            <div>
              <%= form.label :value, t('activerecord.attributes.staff_secret.value') %>
              <div>
                <%= form.text_field :value %>
              </div>
            </div>
          </div>

          <div>
            <%= check_box_tag :confirm_secret_saved, "1", false %>
            <%= label_tag :confirm_secret_saved, "わたしはしーくれっとをほぞんしました" %>
          </div>
        </div>
        <div>
          <%= link_to t('actions.cancel'), identity.sign_org_configuration_secrets_path %>
          <%= form.submit t('actions.save') %>
        </div>
      <% end %>
    </div>
  </div>
</div>
