<% content_for :page_title, t("sign.app.configuration.edit.page_title") %>

<h1><%= t("sign.app.configuration.edit.page_title") %></h1>

<% if current_user.deactivated? %>
  <p><%= t("sign.app.configuration.edit.deactivated_notice") %></p>
  <% if current_user.scheduled_purge_at.present? %>
    <p>
      <%= t("sign.app.configuration.edit.scheduled_purge_notice",
            date: l(current_user.scheduled_purge_at, format: :long)) %>
    </p>
  <% end %>
  <p>
    <%= link_to t("sign.app.configuration.edit.withdrawal_link"),
                identity.new_sign_app_configuration_withdrawal_path(ri: params[:ri]) %>
  </p>
<% else %>
  <p><%= t("sign.app.configuration.edit.not_deactivated") %></p>
<% end %>
