<% content_for :page_title, t("docs.posts.index.title") %>
<div>
  <div>
    <div>
      <div>
        <h1><%= t("docs.posts.index.title") %></h1>

        <div>
          <%= t("docs.posts.index.count", count: @posts.size) %>
        </div>
      </div>

      <% if @posts.any? %>
        <div>
          <% @posts.each do |post| %>
            <div>
              <%= link_to docs_org_v1_post_path(post[:id]),
                          data: { turbo_frame: "document_detail" } do %>
                <h3>
                  <%= post[:title] %>
                </h3>
                <% timestamp = post[:updated_at] || post[:published_at] %>
                <% if timestamp.present? %>
                  <div>
                    <%= l(timestamp, format: :long) %>
                  </div>
                <% end %>
              <% end %>
            </div>
          <% end %>
        </div>
      <% else %>
        <div>
          <p><%= t("docs.posts.index.empty") %></p>
        </div>
      <% end %>
    </div>

    <div>
      <%= turbo_frame_tag "document_detail" do %>
        <div>
          <h3><%= t("docs.posts.index.select_title") %></h3>
          <p>
            <%= t("docs.posts.index.select_description") %>
          </p>
        </div>
      <% end %>
    </div>
  </div>
</div>
