<!DOCTYPE html>
<html lang="<%= get_language %>" data-theme="<%= theme_cookie_value %>" class="<%= theme_html_class %>">
<head>
  <%= display_meta_tags site: "#{ENV.fetch('BRAND_NAME', 'Umaxica')} (org) JP", title: page_title %>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="turbo-refresh-method" content="morph">
  <meta name="turbo-refresh-scroll" content="preserve">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "core/main", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "core/org/main", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
  <%= yield :head %>
</head>

<body>

<header>
  <nav>
    <%= render "layouts/shared/flash_messages" %>
    <%= render "layouts/shared/current_banner", tld: :org, domain: :core, region: :jp %>
    <% unless logged_in? %>
      <%= link_to t("sign.org.layout.nav.sign_up"), new_sign_org_up_url(host: ENV["SIGN_STAFF_URL"]) %>
      <%= link_to t("sign.org.layout.nav.log_in"), new_sign_org_in_url(host: ENV["SIGN_STAFF_URL"]) %>
    <% else %>
      <%= link_to t("sign.org.layout.nav.configuration"), sign_org_configuration_url(host: ENV["SIGN_STAFF_URL"]) %>
      <%= link_to t("sign.org.layout.nav.logout"), edit_sign_org_configuration_out_url(host: ENV["SIGN_STAFF_URL"]) %>
    <% end %>
  </nav>
  <div>
    <span>Core</span>
    <h1>
      <a href="<%= "#{request.protocol}#{ENV.fetch('CORE_STAFF_URL', 'ww.org.localhost')}#{request.port_string}/" %>"><%= ENV.fetch("BRAND_NAME", "Umaxica") %></a>
      <span>(org)</span>
    </h1>
  </div>
</header>

<main>
  <%= yield %>
</main>

<footer>
  <nav>
    <ul>
      <li><%= link_to t("core.org.preferences.footer.preference"), sign_org_preference_url %></li>
    </ul>
  </nav>
  <%= render "layouts/shared/footer_cookie_controls", scope: :org %>
  <%= render "layouts/shared/footer_theme_controls", scope: :org %>
  <div>
    <%= render "layouts/shared/copyright" %>
  </div>
</footer>
</body>
</html>
