<% content_for :page_title, t("sign.org.configuration.email.edit.title") %>

<h1><%= t("sign.org.configuration.email.edit.title") %></h1>

<%= form_with model: @staff_email, url: sign_org_configuration_emails_registration_path, method: :patch do |form| %>
  <% if @staff_email.errors.any? %>
    <div>
      <ul role="list">
        <% @staff_email.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :pass_code %>
    <%= form.text_field :pass_code %>
  </div>

  <div>
    <%= form.submit t("actions.submit") %>
  </div>
<% end %>

<div>
  <%= link_to t("sign.common.cancel", default: t("sign.app.common.cancel")),
              sign_org_configuration_emails_path %>
</div>
