<% content_for :page_title, t("sign.org.configuration.email.new.page_title") %>

<h1><%= t("sign.org.configuration.email.new.page_title") %></h1>

<%= form_with model: @staff_email, url: sign_org_configuration_emails_registration_path do |form| %>
  <% if @staff_email.errors.any? %>
    <div>
      <ul role="list">
        <% @staff_email.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :address %>
    <%= form.email_field :address, autocomplete: "email", required: true %>
  </div>

  <div>
    <%= render "shared/cloudflare_turnstile" %>
  </div>

  <div>
    <%= form.submit %>
  </div>
  <div>
    <%= link_to t("actions.cancel"), sign_org_configuration_emails_path %>
  </div>
<% end %>
