<h1>Auth::App::Authentication#new</h1>
<p>Find me in app/views/auth/app/authentications/new.html.erb</p>
<ul>
  <li><%= link_to 'email', new_auth_app_authentication_email_path %></li>
  <li><%= link_to 'telephone', new_auth_app_authentication_telephone_path %></li>
  <li><%= link_to 'apple', new_auth_app_authentication_apple_path %></li>
  <li><%= link_to 'google', new_auth_app_authentication_google_path %></li>
  <li><%= link_to 'passkey', new_auth_app_authentication_passkey_path %></li>
  <li><%= link_to 'Recovery Code', new_auth_app_authentication_recovery_code_path %></li>
  <li><%= link_to 'sign up?', new_auth_app_registration_path %></li>
</ul>
