<div>

  <%= form_with model: @user_email, url: www_app_registration_emails_path do |form| %>
    <% if @user_email.errors.any? %>
      <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
        <h2><%= pluralize(@user_email.errors.count, "error") %> prohibited this sample from being saved:</h2>

        <ul class="list-disc ml-6">
          <% @user_email.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div>
      <%= form.label :address %>
      <%= form.email_field :address %>
    </div>
    <div>
      <%= form.checkbox :confirm_policy %>
      <%= form.label :confirm_policy, '利用規約に同意する' %>
    </div>

    <% content_tag(:div, nil, {id: "root", 'data-parent':'sss'}) %>

    <div id="root" data-parent="ruby and bun on rails">
      <div>
        <p>Hello world from Rails!</p>
      </div>
    </div>

    <div class="cf-turnstile" data-sitekey="<%= ENV['CLOUDFLARE_TURNSTILE_SITE_KEY'] %>"></div>

    <%= form.submit %>
  <% end %>

  <ul>
    <li><%= link_to 'others?', new_www_app_registration_path %></li>
    <li><%= link_to 'log in?', new_www_app_session_email_path %></li>
  </ul>
</div>

<script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>
