<% breadcrumb :app_preference_cookie %>

<h1><%= t 'apex.app.preference.cookie.edit.h1' %></h1>

<div id="hello-world-component"></div>

<%= form_with url: www_app_preference_cookie_url, method: :patch do |f| %>
  <div class="interests-selection">
    <%= f.check_box :accept_tracking_cookies, { checked: @accept_tracking_cookies } %>
    <%= f.label :accept_tracking_cookies, t('apex.app.preference.cookie.edit.accept_tracking_cookies') %>
  </div>
  <div> <%= f.submit %></div>
<% end %>
