<% title t("sign.org.in.mfa.title") %>

<div>
  <div>
    <h1><%= t("sign.org.in.mfa.title") %></h1>
    <p><%= t("sign.org.in.mfa.description") %></p>
  </div>

  <div>
    <% if @can_use_passkey %>
      <p>
        <%= link_to t("sign.org.in.mfa.methods.passkey"), identity.new_sign_org_in_challenge_passkey_path %>
      </p>
    <% end %>

    <% unless @can_use_passkey %>
      <p><%= t("sign.org.in.mfa.no_methods_available") %></p>
      <p><%= link_to t("sign.org.in.back"), identity.new_sign_org_in_path %></p>
    <% end %>
  </div>
</div>
