<% content_for :page_title, t("sign.app.configuration.show.page_title") %>

<h1><%= t("sign.app.configuration.show.page_title") %></h1>

<section>
  <h2><%= t("sign.app.configuration.show.security_settings") %></h2>
  <ul>
    <li><%= link_to t("controller.sign.app.setting.index.totp"), sign_app_configuration_totps_path %></li>
    <li><%= link_to t("controller.sign.app.setting.index.passkey"), sign_app_configuration_passkeys_path %></li>
    <li><%= link_to t("sign.app.configuration.show.mfa"), sign_app_configuration_mfa_path %></li>
    <li><%= link_to t("controller.sign.app.setting.index.secret"), sign_app_configuration_secrets_path %></li>
  </ul>
</section>

<section>
  <h2><%= t("sign.app.configuration.show.account_settings") %></h2>
  <ul>
    <li><%= link_to t("controller.sign.app.setting.index.email"), sign_app_configuration_emails_path %></li>
    <li><%= link_to t("controller.sign.app.setting.index.telephone"), sign_app_configuration_telephones_path %></li>
    <li><%= link_to t("controller.sign.app.setting.index.session"), sign_app_configuration_sessions_path %></li>
    <li><%= link_to "Activities", sign_app_configuration_activities_path %></li>
  </ul>
</section>

<section>
  <h2><%= t("sign.app.configuration.show.external_services") %></h2>
  <ul>
    <li><%= link_to t("controller.sign.app.setting.index.google"), sign_app_configuration_google_path %></li>
    <li><%= link_to t("controller.sign.app.setting.index.apple"), sign_app_configuration_apple_path %></li>
  </ul>
</section>

<section>
  <h2><%= t("sign.app.configuration.show.others") %></h2>
  <ul>
    <li><%= link_to t("sign.app.configuration.show.logout"), edit_sign_app_configuration_out_path(ri: "jp") %></li>
    <li><%= link_to t("sign.app.configuration.show.withdrawal"), sign_app_configuration_withdrawal_path %></li>
  </ul>
</section>
