<!DOCTYPE html>
<html>
<head>
  <%= display_meta_tags site: "#{ENV['BRAND_NAME']} (app) JP" %>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "top/app/main" %>
  <%= javascript_importmap_tags %>
  <style>
      body {
          font-family: "Helvetica Neue",
          Arial,
          "Hiragino Kaku Gothic ProN",
          "Hiragino Sans",
          Meiryo,
          sans-serif;
      }
  </style>
</head>

<body class="px-4">
<header>
  <h1><a href="http://<%= ENV['EDGE_SERVICE_URL'] %>/">Umaxica(www, app)</a></h1>
  <p>
    <% if defined?(new_auth_app_registration_path) %>
      <%= link_to_if !@user&.active?, "logout?", new_auth_app_registration_path %>
      <%= link_to_unless @user&.active?, "login?", new_auth_app_registration_path %>
    <% end %>
  </p>
</header>

<hr>

<main class="container mx-auto mt-28 px-5 block">
  <%= yield %>
</main>

<nav>
  <% if defined?(breadcrumbs) %>
    <% breadcrumbs.tap do |links| %>
      <% if links.any? %>
        <ul>
          <% links.each do |link| %>
            <li> <%= link_to link.text, link.url, class: (link.current? ? "current" : nil) %></li>
          <% end %>
      <% end %>
      <li>...</li>
      </ul>
    <% end %>
  <% end %>
</nav>

<hr>

<footer>
  <ul>
    <li><a href="http://<%= ENV['EDGE_SERVICE_URL'] %>/">Home</a></li>
    <% if defined?(edit_www_app_preference_cookie_path) %>
      <li><%= link_to 'Cookie', edit_www_app_preference_cookie_path %></li>
    <% end %>
    <li>Support</li>
    <li>Privacy</li>
    <li>Security</li>
    <li>Accessibility</li>
  </ul>
  <p>© 2025 Umaxica.</p>
</footer>

</body>
</html>
