<!DOCTYPE html>
<html lang="<%= get_language %>">
<head>
  <%= display_meta_tags site: "#{ENV['BRAND_NAME']} (org)" %>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="turbo-refresh-method" content="morph">
  <meta name="turbo-refresh-scroll" content="preserve">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "sign/org/main" %>
  <%= javascript_importmap_tags %>
  <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
  <link rel="icon" href="https://perm.umaxica.org/favicon.ico" sizes="32x32">
</head>
<body class="px-4">
<%= render "concern/flash_messages" %>
<header>
  <h1>
    <a href="http://<%= ENV['EDGE_STAFF_URL'] %>/"><%= ENV.fetch('BRAND_NAME') { ENV.fetch('NAME') } %> (sign, org)</a>
  </h1>
  <% unless session[:staff] %>
    <ul>
      <li><%= link_to t("sign.org.layout.nav.sign_up"), new_sign_org_registration_path %></li>
      <li><%= link_to t("sign.org.layout.nav.log_in"), new_sign_org_authentication_path %></li>
    </ul>
  <% else %>
    <ul>
      <li><%= link_to t("sign.org.layout.nav.setting"), sign_org_setting_path %></li>
      <li><%= link_to t("sign.org.layout.nav.logout"), edit_sign_app_exit_url %></li>
    </ul>
  <% end %>
</header>

<hr>

<main class="container mx-auto mt-28 px-5 block">
  <%= yield %>
</main>

<hr>

<footer>

  <ul>
    <li><a href="http://<%= ENV['EDGE_STAFF_URL'] %>:4444/">home</a></li>
  </ul>
  <%= render "concern/copyright" %>
</footer>

</body>
</html>
