<!DOCTYPE html>
<html lang="<%= get_language %>">
<head>
  <%= display_meta_tags site: "#{ENV['BRAND_NAME']} (org)" %>
  <title>UMAXICA <%= content_for?(:page_title) ? "| #{yield(:page_title)} " : "" %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "sign/org/main" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  <link rel="icon" href="https://perm.umaxica.org/favicon.ico" sizes="32x32">
</head>
<body class="px-4">
<%= render "concern/flash_messages" %>
<header>
  <h1><a href="http://<%= ENV['EDGE_STAFF_URL'] %>/"><%= ENV.fetch('BRAND_NAME') { ENV.fetch('NAME') } %> (sign, org)</a></h1>
</header>

<hr>

<main class="container mx-auto mt-28 px-5 block">
  <%= yield %>
</main>

<hr>

<footer>

  <ul>
    <li><a href="http://<%= ENV['EDGE_STAFF_URL'] %>:4444/">home</a></li>
    <li>Security</li>
    <li>Support</li>
    <li>Terms</li>
    <li>Privacy</li>
    <li>Accessibility</li>
    <li><%= link_to t('sign.org.preferences.title'), top_org_preference_path %></li>
  </ul>
  <%= render "concern/copyright" %>
</footer>

</body>
</html>
