<% content_for :page_title, t("sign.org.registration.telephone.edit.title") %>

<h1><%= t("sign.org.registration.telephone.edit.title") %></h1>
<p><%= t("sign.org.registration.telephone.edit.description") %></p>

<%= form_with model: @staff_telephone,
              url: identity.sign_org_configuration_telephones_registration_path,
              method: :patch do |form| %>
  <% if @staff_telephone.errors.any? %>
    <div>
      <ul role="list">
        <% @staff_telephone.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :pass_code %>
    <%= form.text_field :pass_code,
                        maxlength: 6,
                        autocomplete: "one-time-code",
                        inputmode: "numeric",
                        pattern: "[0-9]{6}" %>
  </div>

  <div>
    <%= form.submit t("actions.submit") %>
  </div>
<% end %>

<div>
  <%= link_to t("actions.cancel"), identity.sign_org_configuration_telephones_path %>
</div>
