<% breadcrumb :org_preference %>

<h1><%= t('apex.org.preferences.title') %></h1>

<ul>
  <li><%= link_to t('apex.org.preferences.cookie_settings'), edit_apex_org_preference_cookie_url %></li>
  <li><%= link_to t('apex.org.preferences.region_settings'), edit_apex_org_preference_region_url %></li>
  <li><%= link_to t('apex.org.preferences.email_preferences'), edit_apex_org_preference_email_url %></li>
  <li><%= link_to t('apex.org.preferences.theme_settings'), edit_apex_org_preference_theme_url %></li>
</ul>
