<% content_for :page_title, t("controller.sign.app.setting.index.google") %>

<%= link_to t("sign.org.configuration.show.back"), sign_org_configuration_path %>

<h1><%= t("controller.sign.app.setting.index.google") %></h1>
<p><%= t("sign.org.configuration.google.show.description") %></p>

<p>
  <% if @google_login_enabled %>
    <%= t("sign.org.configuration.google.show.enabled") %>
  <% else %>
    <%= t("sign.org.configuration.google.show.disabled") %>
  <% end %>
</p>

<div>
  <%= button_to t("actions.connect"),
                sign_org_configuration_google_path,
                method: :post %>
</div>
