<div>
  <div>
    <div>
      <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
      </svg>
    </div>

    <h2>
      <%= t('sign.app.registration.telephone.complete.page_title') %>
    </h2>

    <p>
      <%= t('sign.app.registration.telephone.complete.description') %>
    </p>

    <div>
      <%= link_to t('sign.app.registration.telephone.complete.link_to_home'), sign_app_root_path(ri: params[:ri]) %>
    </div>

    <div>
      <div>
        <%= link_to t('sign.app.registration.telephone.complete.link_to_passkey_configuration'), sign_app_configuration_passkeys_path(ri: params[:ri]) %>
      </div>
      <div>
        <%= link_to t('sign.app.registration.telephone.complete.link_to_sign_in'), new_sign_app_in_path(ri: params[:ri]) %>
      </div>
    </div>
  </div>
</div>
