<% content_for :page_title, t('sign.org.configuration.passkeys.index.title') %>
<div>
  <div>
    <div>
      <h1><%= t('sign.org.configuration.passkeys.index.title') %></h1>
      <p><%= t('sign.org.configuration.passkeys.index.description') %></p>
    </div>
    <div>
      <%= link_to t('sign.org.configuration.passkeys.index.add'), new_sign_org_configuration_passkey_path %>
    </div>
  </div>

  <div>
    <div>
      <div>
        <div>
          <table>
            <thead>
            <tr>
              <th scope="col"><%= t('activerecord.attributes.staff_passkey.description') %></th>
              <th scope="col"><%= t('activerecord.attributes.staff_passkey.created_at') %></th>
              <th scope="col">
                <span><%= t('actions.actions') %></span>
              </th>
            </tr>
            </thead>
            <tbody>
            <% @passkeys.each do |passkey| %>
              <tr>
                <td><%= passkey.description %></td>
                <td><%= l(passkey.created_at, format: :short) %></td>
                <td>
                  <%= link_to t('actions.edit'), edit_sign_org_configuration_passkey_path(passkey) %>
                  <%= link_to t('actions.destroy'), sign_org_configuration_passkey_path(passkey), data: { turbo_method: :delete, turbo_confirm: t('messages.confirm_destroy') } %>
                </td>
              </tr>
            <% end %>
            <% if @passkeys.empty? %>
              <tr>
                <td colspan="3" class="italic">
                  <%= t('sign.org.configuration.passkeys.index.empty') %>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div>
    <%= link_to t('sign.org.configuration.passkeys.index.back'), sign_org_configuration_path %>
  </div>
</div>
