<div>
  <div>
    <div>
      <h3><%= t('sign.org.configuration.passkeys.show.title') %></h3>
    </div>
    <div>
      <dl>
        <div>
          <dt><%= t('activerecord.attributes.staff_passkey.description') %></dt>
          <dd><%= @passkey.description %></dd>
        </div>
        <div>
          <dt><%= t('activerecord.attributes.staff_passkey.created_at') %></dt>
          <dd><%= l(@passkey.created_at, format: :long) %></dd>
        </div>
        <div>
          <dt><%= t('activerecord.attributes.staff_passkey.sign_count') %></dt>
          <dd><%= @passkey.sign_count %></dd>
        </div>
      </dl>
    </div>
  </div>

  <div>
    <%= link_to t('sign.org.configuration.passkeys.show.back'), sign_org_configuration_passkeys_path %>
    <div>
      <%= link_to t('actions.edit'), edit_sign_org_configuration_passkey_path(@passkey) %>
      <%= link_to t('actions.destroy'), sign_org_configuration_passkey_path(@passkey), data: { turbo_method: :delete, turbo_confirm: t('messages.confirm_destroy') } %>
    </div>
  </div>
</div>
