<% content_for :page_title, t("sign.app.configuration.email.new.page_title") %>

        <h1><%= t("sign.app.configuration.email.new.page_title") %></h1>

      <%= form_with model: @user_email, url: sign_app_configuration_emails_registration_path do |form| %>
        <% if @user_email.errors.any? %>
          <div>
            <ul role="list">
              <% @user_email.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div>
          <%= form.label :address %>
          <div>
            <%= form.email_field :address, autocomplete: "email", required: true %>
          </div>
        </div>

        <%# TODO: Switch to the stealth Turnstile once it is ready. %>
        <div>
          <%= render "shared/cloudflare_turnstile" %>
        </div>

        <div>
          <%= form.submit %>
        </div>
        <div>
          <%= link_to t("actions.cancel"), sign_app_configuration_emails_path %>
        </div>
      <% end %>
