<% content_for :page_title, 'Edit Out' %>
<%= link_to t('sign.app.configuration.show.back'), identity.sign_app_configuration_path %>

<div>
  <div>
    <div>

      <%= form_with url: identity.sign_app_configuration_out_path, method: :delete do |form| %>

        <div>
          <div>
            <%= form.check_box :confirm, required: true %>
          </div>
          <div>
            <%= form.label :confirm, "ろぐあうとしますか？" %>
            <p>
              一度ログアウトすると、再度ログインが必要になります。
            </p>
          </div>
        </div>

        <%= form.submit t("sign.shared.sign_out.button") %>
      <% end %>

    </div>
  </div>
</div>
