<% content_for :page_title, t('root.com.preferences.regions.title') %>

<h1><%= t('root.com.preferences.regions.title') %></h1>

<%= form_with url: root_com_preference_region_url, method: :patch do |f| %>
  <div class="region-section">
    <h2><%= t('root.com.preferences.regions.region_section') %></h2>

    <div class="region-selection">
      <%= f.label :region, t('root.com.preferences.regions.select_region') %>
      <%= f.select :region, options_for_select([
                                                 [t('root.com.preferences.regions.select_region_selector.USA'), 'US'],
                                                 [t('root.com.preferences.regions.select_region_selector.JAPAN'), 'JP'],
                                               ], @current_region), { prompt: t('root.com.preferences.regions.select_region_prompt') } %>
    </div>
  </div>

  <div class="language-section">
    <h2><%= t('root.com.preferences.regions.language_section') %></h2>

    <div class="language-selection">
      <%= f.label :language, t('root.com.preferences.regions.select_language') %>
      <%= f.select :language, options_for_select([[t('root.com.preferences.regions.select_language_selector.JAPANESE'), 'JA'], [t('root.com.preferences.regions.select_language_selector.ENGLISH'), 'EN']], @current_language), { prompt: t('root.com.preferences.regions.select_language_prompt') } %>
    </div>
  </div>

  <div class="timezone-section">
    <h2><%= t('root.com.preferences.regions.timezone_section') %></h2>
    <div class="timezone-selection">
      <%= f.label :timezone, t('root.com.preferences.regions.select_timezone') %>
      <%= f.select :timezone, options_for_select([[t('root.com.preferences.regions.select_timezone_selector.UTC'), "Etc/UTC"], [t('root.com.preferences.regions.select_timezone_selector.JST'), "Asia/Tokyo"]], @current_timezone.split(' ').last), { prompt: t('root.com.preferences.regions.select_timezone_prompt') } %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit class: 'btn btn-primary' %>
    <%= link_to t('root.com.preferences.regions.cancel'), root_com_preference_url, class: 'btn btn-secondary' %>
  </div>
<% end %>
