<% content_for :page_title, t("apex.com.preferences.theme_settings") %>

<section>
  <h1>
    <%= t("apex.com.preference.theme.edit.title") %>
  </h1>
  <p>
    <%= t("apex.com.preference.theme.edit.description") %>
  </p>

  <%= form_with model: @preference_colortheme, scope: :preference_colortheme, url: sign_com_preference_theme_path, method: :patch do |f| %>
    <div>
      <%= f.label :option_id, t("apex.com.preferences.theme.select_theme") %>
      <div>
        <%= f.select :option_id,
                     options_for_select(
                       [
                         [t("apex.com.preference.theme.edit.options.light"), "light"],
                         [t("apex.com.preference.theme.edit.options.dark"), "dark"],
                         [t("apex.com.preference.theme.edit.options.system"), "system"]
                       ],
                       @preference_colortheme.option&.name || "system"),
                     {} %>
      </div>
    </div>

    <div>
      <%= f.submit t("apex.com.preferences.update_settings"),
                   data: { turbo_submits_with: t("apex.com.preferences.submitting") } %>
      <%= link_to t("apex.com.preferences.back_to_settings"), sign_com_preference_url %>
    </div>
  <% end %>
</section>
