<h1><%= title "Contact request overview" %></h1>

<section>
  <%= render "base/shared/contact_overview", contact: @contact %>

  <% if @topic %>
    <div>
      <h2>Title</h2>
      <p><%= @topic.title %></p>
    </div>

    <div>
      <h2>Body</h2>
      <p><%= simple_format(@topic.description) %></p>
    </div>
  <% end %>

  <div>
    <%= link_to "Start another request", new_base_app_contact_path %>
  </div>
</section>
