<div class="<%= local_assigns[:class] %>">
  <% if local_assigns[:title] %>
    <div>
      <h3><%= title %></h3>
      <% if local_assigns[:description] %>
        <p><%= description %></p>
      <% end %>
    </div>
  <% end %>
  <div class="<%= local_assigns[:title] ? 'p-6 pt-0' : 'p-6' %>">
    <%= yield %>
  </div>
</div>
