<!DOCTYPE html>
<html lang="<%= get_language %>">
<head>

  <title><%= get_title(yield(:page_title)) %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "help/org/main" %>
  <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  <link rel="icon" href="<%= Rails.env.production? ? 'https://perm.umaxica.org/favicon.ico' : 'favicon.ico' %>" sizes="32x32">
</head>
<body class="px-4">
<%= render "concern/flash_messages" %>
<header>
  <h1 class="container mx-auto mt-28 px-5 flex">
    <a href="http://<%= ENV['NEWS_STAFF_URL'] %>/"><%= ENV.fetch('BRAND_NAME') { ENV.fetch('NAME') } %> (help, org)</a>
  </h1>
</header>

<hr>

<main class="container mx-auto mt-28 px-5 block">
  <%= yield %>
</main>

<hr>

<footer>
  <ul>
    <li><a href="http://<%= ENV['EDGE_STAFF_URL'] %>/">Home</a></li>
    <li><%= link_to 'NewsRoom', news_org_root_url %></li>
    <li><%= link_to 'Document', docs_org_root_url %></li>
    <li><%= link_to 'Help Center', help_org_root_url %></li>
  </ul>
  <%= render "concern/copyright" %>
</footer>

</body>
</html>
