<ul>
  <li><%= link_to "Settings", root_app_preference_url %></li>
</ul>
<ul>
  <li>Current language: <%= I18n.locale %></li>
  <li><%= Time.now.in_time_zone("Tokyo") %></li>
  <li><%= to_localetime Time.now, 'jst' %></li>
  <li>region: <%= get_region %></li>
  <li>TimeZone: <%= get_timezone %></li>
  <li>language: <%= get_language %></li>
  <li>ColorTheme: <%= get_colortheme %></li>
</ul>
