<h1>Www::App::Authentication#new</h1>
<p>Find me in app/views/www/app/authentication/new.html.erb</p>
<ul>
  <li><%= link_to 'email', new_www_app_authentication_email_path %></li>
  <li><%= link_to 'telephone', new_www_app_authentication_telephone_path %></li>
  <li><%= link_to 'apple', new_www_app_authentication_apple_path %></li>
  <li><%= link_to 'google', new_www_app_authentication_google_path %></li>
  <li><%= link_to 'passkey', new_www_app_authentication_passkey_path %></li>
  <li><%= link_to 'Recovery Code', new_www_app_authentication_recovery_path %></li>
  <li><%= link_to 'sign up?', new_www_app_registration_path %></li>
</ul>
