<% content_for :page_title, t("sign.app.verification.setup.title") %>
<% title t("sign.app.verification.setup.title") %>

<div>
  <h1><%= t("sign.app.verification.setup.title") %></h1>
  <p><%= t("sign.app.verification.setup.description") %></p>

  <ul>
    <li>
      <%= link_to t("sign.app.verification.setup.methods.passkey"),
                  identity.new_sign_app_configuration_passkey_path(ri: params[:ri], rd: @rd) %>
    </li>
    <li>
      <%= link_to t("sign.app.verification.setup.methods.email"),
                  identity.new_sign_app_configuration_emails_registration_path(ri: params[:ri], rd: @rd) %>
    </li>
    <li>
      <%= link_to t("sign.app.verification.setup.methods.telephone"),
                  identity.new_sign_app_configuration_telephones_registration_path(ri: params[:ri], rd: @rd) %>
    </li>
    <li>
      <%= link_to t("sign.app.verification.setup.methods.totp"),
                  identity.new_sign_app_configuration_totp_path(ri: params[:ri], rd: @rd) %>
    </li>
  </ul>
</div>
