<% content_for :page_title, t("sign.app.reauth.index.title") %>
<% title t("sign.app.reauth.index.title") %>

<div>
  <div>
    <h1><%= t("sign.app.reauth.index.title") %></h1>
    <%= link_to t("sign.app.reauth.index.new"), identity.sign_app_verification_path %>
  </div>

  <div>
    <table>
      <thead>
      <tr>
        <th><%= t("sign.app.reauth.index.table.scope") %></th>
        <th><%= t("sign.app.reauth.index.table.method") %></th>
        <th><%= t("sign.app.reauth.index.table.status") %></th>
        <th><%= t("sign.app.reauth.index.table.expires") %></th>
      </tr>
      </thead>
      <tbody>
      <% @reauth_sessions.each do |s| %>
        <tr>
          <td>
            <%= link_to s.scope, identity.sign_app_verification_path %>
          </td>
          <td><%= s.method %></td>
          <td><%= s.status %></td>
          <td><%= l(s.expires_at, format: :short) %></td>
        </tr>
      <% end %>
      <% if @reauth_sessions.empty? %>
        <tr>
          <td colspan="4"><%= t("sign.app.reauth.index.empty") %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
