<% title t("sign.app.reauth.new.title") %>

<div>
  <h1><%= t("sign.app.reauth.new.title") %></h1>
  <p><%= t("sign.app.reauth.new.description") %></p>

  <% if @reauth_session.errors.any? %>
    <div>
      <%= @reauth_session.errors.full_messages.to_sentence %>
    </div>
  <% end %>

  <%= form_with model: @reauth_session, url: identity.sign_app_verification_path, method: :post, data: { turbo: false } do |f| %>
    <%= f.hidden_field :scope, value: @reauth_session.scope %>
    <%= f.hidden_field :return_to, value: @reauth_session.return_to %>

    <fieldset>
      <legend><%= t("sign.app.reauth.new.method_legend") %></legend>

      <label>
        <%= f.radio_button :method, "passkey", checked: true %>
        <span><%= t("sign.app.reauth.new.methods.passkey") %></span>
      </label>

      <label>
        <%= f.radio_button :method, "totp" %>
        <span><%= t("sign.app.reauth.new.methods.totp") %></span>
      </label>

      <label>
        <%= f.radio_button :method, "email_otp" %>
        <span><%= t("sign.app.reauth.new.methods.email_otp") %></span>
      </label>
    </fieldset>

    <div>
      <%= f.submit t("sign.app.reauth.new.submit") %>
      <%= link_to t("sign.app.reauth.new.back"), identity.sign_app_configuration_path(ri: params[:ri]) %>
    </div>
  <% end %>
</div>
