<%= turbo_frame_tag dom_id(document) do %>
  <tr>
    <td>
      <%= link_to document.permalink, distributor.post_com_cms_document_path(document) %>
    </td>
    <td>
      <%= cms_document_title(document) %>
    </td>
    <td>
      <% if document.status_id == "PUBLISHED" %>
        <span>
          Published
        </span>
      <% elsif document.status_id == "DRAFT" %>
        <span>
          Draft
        </span>
      <% else %>
        <span>
          <%= document.status_id %>
        </span>
      <% end %>
    </td>
    <td>
      <%= document.published_at.strftime("%Y-%m-%d %H:%M") if document.published_at %>
    </td>
    <td>
      <div>
        <%= link_to "View", distributor.post_com_cms_document_path(document) %>
        <%= link_to "Edit", distributor.edit_post_com_cms_document_path(document),
                    data: { turbo_frame: "modal" } %>

        <% if document.status_id == "DRAFT" %>
          <%= button_to "Publish", publish_post_com_cms_document_path(document),
                        method: :post,
                        data: { turbo_stream: true } %>
        <% elsif document.status_id == "PUBLISHED" %>
          <%= button_to "Unpublish", unpublish_post_com_cms_document_path(document),
                        method: :post,
                        data: { turbo_stream: true } %>
        <% end %>

        <%= button_to "Delete", distributor.post_com_cms_document_path(document),
                      method: :delete,
                      data: { turbo_confirm: "Are you sure?", turbo_stream: true } %>
      </div>
    </td>
  </tr>
<% end %>
