<!DOCTYPE html>
<html lang="ja">
<head>
  <title>UMAXICA <%= content_for?(:page_title) ? "| #{yield(:page_title)} " : "" %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "www/org/main" %>
  <%= javascript_importmap_tags %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
 </head>

<body class="px-4">
<header>
  <h1 class="container mx-auto mt-28 px-5 flex"><a href="http://<%= ENV['EDGE_STAFF_URL'] %>:4444/">Umaxica(www, org)</a></h1>
</header>

<hr>

<main class="container mx-auto mt-28 px-5 block"><%= yield %>
  <nav>
    <ul>
      <li></li>
    </ul>
    <%= breadcrumbs pretext: "You are here: ", separator: " &rsaquo; " %>
  </nav>

  <%# React components root %>
  <div id="react-root"></div>
</main>

<nav id="app" class="mt-4 bg-white bg-opacity-50 hover:font-black hover:text-blue-500">
  <nav>
    <% breadcrumbs.tap do |links| %>
      <% if links.any? %>
        <ul>
          <% links.each do |link| %>
            <li> <%= link_to link.text, link.url, class: (link.current? ? "current" : nil) %></li>
          <% end %>
          <li>...</li>
        </ul>
      <% end %>
    <% end %>
  </nav>
</nav>

<hr>

<footer>

  <ul>
    <li><a href="http://<%= ENV['EDGE_STAFF_URL'] %>:4444/">home</a></li>
    <li>
      <%= link_to 'Cookie', edit_www_org_preference_cookie_path %></li>
    <li>Security</li>
    <li>Support</li>
    <li>Terms</li>
    <li>Privacy</li>
    <li>Accessibility</li>
    <li>© <%= Time.now.year %> Umaxica</li>
  </ul><p>© <%= Time.now.year %> Umaxica.</p>
</footer>

</body>
</html>
