<!DOCTYPE html>
<html lang="ja">
<head>
  <%= display_meta_tags site: "#{ENV['BRAND_NAME']} (com) JP" %>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="turbo-refresh-method" content="morph">
  <meta name="turbo-refresh-scroll" content="preserve">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "top/com/main" %>
  <%= javascript_importmap_tags %>
  <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
</head>

<body class="px-4">
<header>
  <h1><a href="http://<%= ENV['EDGE_CORPORATE_URL'] %>:4444/">Umaxica(www, com)</a></h1></header>
<% unless logged_in? %>
  <ul>
    <li><%= link_to t("sign.app.layout.nav.sign_up"), new_sign_app_registration_path %></li>
    <li><%= link_to t("sign.app.layout.nav.log_in"), new_sign_app_authentication_path %></li>
  </ul>
<% else %>
  <ul>
    <li><%= link_to t("sign.app.layout.nav.setting"), sign_app_setting_path %></li>
    <li><%= link_to t("sign.app.layout.nav.logout"), sign_app_authentication_path, data: { turbo_method: :delete } %></li>
  </ul>
<% end %>
<hr>

<main class="container mx-auto mt-28 px-5 block">
  <%= yield %>
</main>

<nav>
</nav>

<hr>

<footer>
  <ul>
    <li><a href="http://<%= ENV['EDGE_CORPORATE_URL'] %>:4444/">Umaxica</a></li>
    <li>Support</li>
    <li>Terms</li>
    <li>Privacy</li>
    <li>Security</li>
    <li>Accessibility</li>
  </ul>
  <%= render "concern/copyright" %>
</footer>

</body>
</html>
