<% content_for :page_title, t("sign.app.configuration.email.edit.title") %>
<div>
  <div>
    <h1><%= t("sign.app.configuration.email.edit.title") %></h1>
  </div>

  <div>
    <%= form_with model: @user_email, url: sign_app_configuration_email_path(@user_email), method: :patch do |f| %>
      <% if @user_email.errors.any? %>
        <div>
          <ul>
            <% @user_email.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div>
        <%= f.label :address, t("activerecord.attributes.user_email.address") %>
        <%= f.email_field :address, autocomplete: "email", required: true %>
      </div>

      <div>
        <%= f.submit t("actions.save") %>
      </div>
    <% end %>

    <div>
      <%= link_to t("sign.app.common.cancel"), sign_app_configuration_emails_path %>
    </div>
  </div>
</div>
