<% content_for :page_title, 'Emails' %>
<%= link_to t('sign.app.configuration.show.back'), sign_app_configuration_path %>

<div>
  <div>
    <%= link_to t('sign.app.configuration.email.index.new_link'), new_sign_app_configuration_emails_registration_path %>
  </div>
</div>

<div>
  <div>
    <div>
      <div>
        <table>
          <thead>
          <tr>
            <th scope="col">
              <%= t('activerecord.attributes.user_email.address') %>
            </th>
            <th scope="col">
              <%= t('activerecord.attributes.user_email.status') %>
            </th>
            <th scope="col">
              <span>Actions</span>
            </th>
          </tr>
          </thead>
          <tbody>
          <% @user_emails.each do |email| %>
            <tr>
              <td>
                <%= email.address %>
              </td>
              <td>
                <% if [UserEmailStatus::VERIFIED, UserEmailStatus::VERIFIED_WITH_SIGN_UP].include?(email.user_email_status_id) %>
                      <span>
                        иЄЌиЁјжё€гЃї
                      </span>
                <% else %>
                      <span>
                        жњЄиЄЌиЁј
                      </span>
                <% end %>
              </td>
              <td>
                <%= link_to t("sign.app.configuration.email.index.edit"),
                            edit_sign_app_configuration_email_path(email.public_id) %>
              </td>
            </tr>
          <% end %>
          <% if @user_emails.empty? %>
            <tr>
              <td colspan="3">
                <div>
                  <p>гѓЎгѓјгѓ«г‚ўгѓ‰гѓ¬г‚№гЃЇз™»йЊІгЃ•г‚ЊгЃ¦гЃ„гЃѕгЃ›г‚“гЂ‚</p>
                </div>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
