<div>
  <div>
    <div>
      <div>
        <h3>
          <%= t('sign.app.configuration.email.new.page_title') %>
        </h3>
        <p>
          <%= t('sign.app.configuration.email.new.description') %>
        </p>
      </div>
    </div>

    <div>
      <%= form_with(model: @user_email, url: sign_app_configuration_emails_path) do |form| %>
        <div>
          <% if @user_email.errors.any? %>
            <div>
              <div>
                <div>
                  <h3>
                    <%= t('errors.template.header', model: @user_email.model_name.human, count: @user_email.errors.count) %>
                  </h3>
                  <div>
                    <ul role="list">
                      <% @user_email.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                      <% end %>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          <% end %>

          <div>
            <div>
              <%= form.label :address, t('activerecord.attributes.user_email.address') %>
              <div>
                <%= form.email_field :address, placeholder: "you@example.com" %>
              </div>
              <p>
                <%= t('sign.app.configuration.email.new.help_text') %>
              </p>
            </div>
          </div>
        </div>
        <div>
          <%= link_to t('actions.cancel'), sign_app_configuration_emails_path %>
          <%= form.submit t('actions.submit') %>
        </div>
      <% end %>
    </div>
  </div>
</div>
