<h1>Email Preferences</h1>
<%= form_with url: apex_org_preference_email_url, method: :patch do |f| %>
  <div class="email-preferences">
    <%= f.check_box :email_notifications, { checked: @email_notifications } %>
    <%= f.label :email_notifications, "Receive email notifications" %>
  </div>
  <div class="email-preferences">
    <%= f.check_box :marketing_emails, { checked: @marketing_emails } %>
    <%= f.label :marketing_emails, "Receive marketing emails" %>
  </div>
  <div class="email-preferences">
    <%= f.check_box :staff_notifications, { checked: @staff_notifications } %>
    <%= f.label :staff_notifications, "Receive staff notifications" %>
  </div>
  <div><%= f.submit %></div>
<% end %>
