<% title t("sign.app.authentication.new.page_title") %>

<div>
  <div>
    <h1><%= t("sign.app.authentication.new.page_title") %></h1>
    <p><%= t("sign.app.authentication.new.description") %></p>
  </div>

  <div>
    <% if @can_use_totp %>
      <p>
        <%= link_to t("sign.app.verification.new.methods.totp"), new_sign_app_in_mfa_totp_path %>
      </p>
    <% end %>

    <% if @can_use_passkey %>
      <p>
        <%= link_to t("sign.app.verification.new.methods.passkey"), new_sign_app_in_mfa_passkey_path %>
      </p>
    <% end %>

    <% unless @can_use_totp || @can_use_passkey %>
      <p><%= t("errors.login_failed") %></p>
      <p><%= link_to t("sign.app.authentication.new.back"), new_sign_app_in_path %></p>
    <% end %>
  </div>
</div>
