<%# TODO: This view is currently disabled - telephone authentication route is commented out %>
<%# To enable: uncomment the route in config/routes/sign.rb %>
<h1 class="font-bold text-4xl"><%= title t("sign.app.authentication.telephone.new.page_title") %></h1>
<p class="mt-2 text-sm text-slate-600"><%= t("sign.app.authentication.telephone.new.description") %></p>

<%= form_with model: @user_telephone, url: sign_app_authentication_telephone_path, data: { turbo: false } do |form| %>

  <% if @user_telephone.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(@user_telephone.errors.count, "error") %> prohibited this sample from being saved:</h2>

      <ul class="list-disc ml-6">
        <% @user_telephone.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :address %>
    <%= form.email_field :address %>
  </div>

  <%= render "concern/cloudflare_turnstile" %>

  <%= form.submit %>
<% end %>

<ul>
  <li><%= link_to t('sign.app.authentication.new.back'), new_sign_app_authentication_path %></li>
</ul>
