<h1><%= t 'apex.app.preference.cookie.edit.h1' %></h1>

<div id="hello-world-component"></div>

<%= form_with url: apex_app_preference_theme_url, method: :patch do |f| %>
  <div class="interests-selection">
    <%= check_box_tag :accept_necessary_cookies, "1", true, disabled: true %>
    <%= label_tag :accept_necessary_cookies, t('apex.app.preference.cookie.edit.accept_necessary_cookies') %>
  </div>

  <div>
    <%= f.submit %>
  </div>
<% end %>
