<% content_for :page_title, t('.title') %>
<div>
  <div>
    <%= render "shared/ui/button", variant: :ghost, href: sign_app_configuration_path, label: "← #{t('actions.back')}" %>
  </div>

  <div>
    <div>
      <div>
        <h3><%= t('.title') %></h3>
        <p><%= t('.description') %></p>
      </div>
    </div>
    <div>
      <%= form_with(model: @secret, url: sign_app_configuration_secrets_path) do |form| %>
        <div>
          <% if @secret.errors.any? %>
            <div>
              <div>
                <div>
                  <h3><%= t('errors.template.header', model: @secret.model_name.human, count: @secret.errors.count) %></h3>
                  <div>
                    <ul role="list">
                      <% @secret.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                      <% end %>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          <% end %>

          <div>
            <div>
              <%= form.label :name %>
              <div>
                <%= form.text_field :name %>
              </div>
            </div>
          </div>

          <div>
            <%= form.check_box :enabled, {}, "1", "0" %>
            <%= form.label :enabled, "わたしはしーくれっとをほぞんしました" %>
          </div>

          <div>
            <p>Secret</p>
            <p><%= @raw_secret %></p>
            <p>この値は一度しか表示されません。</p>
          </div>
        </div>
        <div>
          <%= link_to t('actions.cancel'), sign_app_configuration_secrets_path %>
          <%= form.submit t('actions.save') %>
        </div>
      <% end %>
    </div>
  </div>
</div>
