<% content_for :page_title, t("base.app.preference.emails.edit.page_title") %>

<section>
  <div>
    <h1><%= t("base.app.preference.emails.edit.heading") %></h1>
    <p><%= t("base.app.preference.emails.edit.description") %></p>
  </div>

  <%= form_with url: sign_app_preference_email_path, scope: :preference_email, method: :patch do |f| %>
    <%= f.hidden_field :token, value: @token %>

    <div>
      <label>
        <%= t("base.app.preference.emails.edit.always_on") %>
      </label>
      <p><%= t("base.app.preference.emails.edit.always_on_description") %></p>
    </div>

    <div>
      <%= f.check_box :promotional, checked: @email_record.promotional %>
      <%= f.label :promotional, t("base.app.preference.emails.edit.promotional_messages_label") %>
      <p><%= t("base.app.preference.emails.edit.promotional_messages_description") %></p>
    </div>

    <div>
      <%= f.check_box :notifiable, checked: @email_record.notifiable %>
      <%= f.label :notifiable, t("base.app.preference.emails.edit.product_updates_label") %>
      <p><%= t("base.app.preference.emails.edit.product_updates_description") %></p>
    </div>

    <div>
      <%= f.check_box :subscribable, checked: @email_record.subscribable %>
      <%= f.label :subscribable, t("base.app.preference.emails.edit.product_updates_label") %>
    </div>

    <div>
      <%= f.submit t("base.app.preference.emails.edit.submit") %>
    </div>
  <% end %>
</section>
