<% content_for :page_title, t("controller.sign.app.setting.index.telephone") %>
<%= link_to t("sign.org.configuration.show.back"), identity.sign_org_configuration_path %>

<div>
  <%= link_to t("sign.org.configuration.telephone.index.new_link"),
              identity.new_sign_org_configuration_telephones_registration_path %>
</div>

<table>
  <thead>
    <tr>
      <th scope="col"><%= t("activerecord.attributes.staff_telephone.number") %></th>
      <th scope="col"><%= t("activerecord.attributes.staff_telephone.status") %></th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @staff_telephones.each do |telephone| %>
      <tr>
        <td><%= telephone.number %></td>
        <td>
          <% if [StaffTelephoneStatus::ACTIVE, StaffTelephoneStatus::VERIFIED].include?(telephone.staff_telephone_status_id) %>
            <span>認証済み</span>
          <% else %>
            <span>未認証</span>
          <% end %>
        </td>
        <td>
          <%= link_to t("sign.org.configuration.telephone.index.edit"),
                      identity.edit_sign_org_configuration_telephone_path(telephone) %>
        </td>
      </tr>
    <% end %>
    <% if @staff_telephones.empty? %>
      <tr>
        <td colspan="3"><p><%= t("sign.org.configuration.telephone.index.empty") %></p></td>
      </tr>
    <% end %>
  </tbody>
</table>
