<%
  label ||= nil
  name ||= nil
  value ||= nil
  type ||= :text
  placeholder ||= nil
  error ||= nil
%>

<div>
  <% if label %>
    <label>
      <%= label %>
    </label>
  <% end %>
  <input type="<%= type %>"
         name="<%= name %>"
         value="<%= value %>"
         placeholder="<%= placeholder %>"
         class="<%= "border-danger ring-danger" if error %> <%= local_assigns[:class] %>">
  <% if error %>
    <p><%= error %></p>
  <% end %>
</div>
