<% content_for :title, "Showing sample" %>

<div class="md:w-2/3 w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

  <h1 class="font-bold text-4xl">Showing sample</h1>

  <%= form_with model: @user_telephone, url: sign_org_registration_telephone_path, method: :patch do |form| %>

    <% if @user_telephone.errors.any? %>
      <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
        <h2><%= pluralize(@user_telephone.errors.count, "error") %> prohibited this sample from being saved:</h2>

        <ul class="list-disc ml-6">
          <% @user_telephone.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div>
      <%= form.label :pass_code %>
      <%= form.text_field :pass_code %>
    </div>

    <%= form.submit %>
  <% end %>

</div>
