<% content_for :page_title, 'Totps' %>
<%= link_to t('sign.app.configuration.show.back'), identity.sign_app_configuration_path %>

<div>
  <div>
    <%= link_to t('sign.app.configuration.totp.index.new_link'), identity.new_sign_app_configuration_totp_path %>
  </div>
</div>

<div>
  <div>
    <div>
      <div>
        <table>
          <thead>
          <tr>
            <th scope="col">
              <%= t('activerecord.attributes.user_one_time_password.title') %>
            </th>
            <th scope="col">
              <%= t('activerecord.attributes.user_one_time_password.last_otp_at') %>
            </th>
            <th scope="col">
              <span>Actions</span>
            </th>
          </tr>
          </thead>
          <tbody>
          <% @totps.each do |credential| %>
            <tr>
              <td>
                <%= credential.title.presence || t('messages.untitled') %>
              </td>
              <td>
                <%= (credential.last_otp_at.is_a?(Time) || credential.last_otp_at.is_a?(ActiveSupport::TimeWithZone)) && credential.last_otp_at > Time.zone.at(0) ? l(credential.last_otp_at, format: :short) : '-' %>
              </td>
              <td>
                <%= link_to t('actions.edit'),
                            identity.edit_sign_app_configuration_totp_path(credential.public_id) %>
              </td>
            </tr>
          <% end %>
          <% if @totps.empty? %>
            <tr>
              <td colspan="3">
                <div>
                  <p><%= t('messages.no_totp_found') %></p>
                </div>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
