<!DOCTYPE html>
<html lang="<%= get_language %>">
<head>

  <title><%= get_title(yield(:page_title)) %></title>  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "news/com/main" %>
  <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  <link rel="icon" href="https://perm.umaxica.com/favicon.ico" sizes="32x32">
</head>

<body class="px-4">
<%= render "concern/flash_messages" %>
<header>
  <h1><a href="http://<%= ENV['EDGE_CORPORATE_URL'] %>:4444/"><%= ENV.fetch('NAME') %> (news, com)</a></h1></header>
<hr>

<main class="container mx-auto mt-28 px-5 block">
  <%= yield %>
</main>

<hr>

<footer>
  <ul>
    <li><a href="http://<%= ENV['EDGE_CORPORATE_URL'] %>:4444/">Umaxica</a></li>
    <li>Support</li>
    <li>Terms</li>
    <li>Privacy</li>
    <li>Security</li>
    <li>Accessibility</li>
  </ul>
  <%= render "concern/copyright" %>
</footer>

</body>
</html>
