<h1><%= t('controller.www.app.contacts.new.page_title') %></h1>

<%= form_with model: @service_site_contact, url: www_app_inquiries_path, method: 'post' do |form| %>
  <% if @service_site_contact.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(@service_site_contact.errors.count, "error") %> prohibited this sample from being saved:</h2>

      <ul class="list-disc ml-6">
        <% @service_site_contact.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.checkbox :confirm_policy %>
    <%= form.label :confirm_policy, t('controller.www.app.contacts.new.confirm_policy') %>
  </div>

  <div>
    <%= form.label :email_address %>
    <%= form.email_field :email_address %>
  </div>

  <div>
    <%= form.label :telephone_number %>
    <%= form.text_field :telephone_number %>
  </div>

  <%= render "cloudflare_turnstile" %>

  <%= form.submit %>
<% end %>
