<!DOCTYPE html>
<html lang="<%= get_language %>" data-theme="<%= theme_cookie_value %>" class="<%= theme_html_class %>">
<head>
  <%= display_meta_tags site: "#{ENV.fetch('BRAND_NAME', 'Umaxica')} (app) JP", title: page_title %>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="turbo-refresh-method" content="morph">
  <meta name="turbo-refresh-scroll" content="preserve">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "core/main", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "core/app/main", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
  <%= yield :head %>
</head>

<body>

<header>
  <nav>
    <%= render "layouts/shared/flash_messages" %>
    <%= render "layouts/shared/current_banner", tld: :app, domain: :core, region: :jp %>
    <% unless logged_in? %>
      <%= link_to t("core.app.layout.nav.sign_up"), new_sign_app_up_url %>
      <%= link_to t("core.app.layout.nav.log_in"), new_sign_app_in_url %>
    <% else %>
      <%= link_to t("core.app.layout.nav.configuration"), sign_app_configuration_url %>
      <%= link_to t("core.app.layout.nav.logout"), edit_sign_app_configuration_out_url %>
    <% end %>
  </nav>
  <div>
    <span>Core</span>
    <h1>
      <a href="<%= "#{request.protocol}#{ENV.fetch('CORE_SERVICE_URL', 'www.app.localhost')}#{request.port_string}/" %>"><%= ENV.fetch("BRAND_NAME", "Umaxica") %></a>
      <span>(app)</span>
    </h1>
  </div>
</header>

<main>
  <%= yield %>
</main>

<footer>
  <nav>
    <ul>
      <li><a href="<%= "#{request.protocol}#{ENV.fetch('CORE_SERVICE_URL', 'www.app.localhost')}#{request.port_string}/" %>"><%= t("core.app.preferences.footer.home") %></a></li>
      <li><%= link_to t("core.app.preferences.footer.preference"), sign_app_preference_url %></li>
      <li><%= link_to t("core.app.layout.nav.contact"), new_core_app_contact_path %></li>
    </ul>
  </nav>
  <%= render "layouts/shared/footer_cookie_controls", scope: :app %>
  <%= render "layouts/shared/footer_theme_controls", scope: :app %>
  <div>
    <%= render "layouts/shared/copyright" %>
  </div>
</footer>
</body>
</html>
