<!DOCTYPE html>
<html lang="<%= get_language %>" data-theme="<%= theme_cookie_value %>" class="<%= theme_html_class %>">
<%= render "layouts/shared/head",
           namespace: "app",
           stylesheets: ["core/main", "core/app/main"],
           title: "#{ENV['BRAND_NAME']} (app) JP" %>

<body>
<div>
  <div>
    <%= render "shared/flash_messages" %>

    <%= render "layouts/shared/header",
               service_name: "Core",
               namespace: "app",
               home_path: "http://localhost:4444/" do %>
      <% unless logged_in? %>
        <%= link_to t("core.app.layout.nav.sign_up"), new_sign_app_up_url %>
        <%= link_to t("core.app.layout.nav.log_in"), new_sign_app_in_url %>
      <% else %>
        <%= link_to t("core.app.layout.nav.configuration"), sign_app_configuration_url %>
        <%= link_to t("core.app.layout.nav.logout"), edit_sign_app_configuration_out_url %>
      <% end %>
    <% end %>

    <main>
      <%= yield %>
    </main>

    <%= render "layouts/shared/footer" do %>
      <a href="http://localhost:4444/">Home</a>
      <%= link_to t("core.app.preferences.footer.preference"), apex_app_preference_url %>
      <%= link_to t("core.app.layout.nav.contact"), new_core_app_contact_path %>
    <% end %>
  </div>
</div>
</body>
</html>
