<section class="animate-fade-in-up">
  <div>
    <div>
      <div>
        <div>
          <h1>
            <%= title t("acme.app.preferences.title") %>
          </h1>
          <p>
            <%= t("acme.app.preferences.description") %>
          </p>
        </div>
      </div>
    </div>

    <div>
      <!-- Region -->
      <%= link_to zenith.edit_acme_app_preference_region_url do %>
        <div>
          <span><%= t("acme.app.preferences.region_settings") %></span>
        </div>
      <% end %>

      <!-- Timezone -->
      <%= link_to zenith.edit_acme_app_preference_region_timezone_url do %>
        <div>
          <span><%= t("acme.app.preferences.timezone_settings") %></span>
        </div>
      <% end %>

      <!-- Language -->
      <%= link_to zenith.edit_acme_app_preference_region_language_url do %>
        <div>
          <span><%= t("acme.app.preferences.language_settings") %></span>
        </div>
      <% end %>

      <!-- Theme -->
      <%= link_to zenith.edit_acme_app_preference_theme_url do %>
        <div>
          <span><%= t("acme.app.preferences.theme_settings") %></span>
        </div>
      <% end %>

      <!-- Cookie -->
      <%= link_to zenith.edit_acme_app_preference_cookie_url do %>
        <div>
          <span><%= t("acme.app.preferences.cookie_settings") %></span>
        </div>
      <% end %>

      <!-- Reset -->
      <%= link_to zenith.edit_acme_app_preference_reset_url do %>
        <div>
          <span><%= t("acme.app.preferences.reset_settings") %></span>
        </div>
      <% end %>
    </div>
  </div>

  <div>
    <%= link_to zenith.acme_app_root_path(ct: "dr", lx: "en", ri: "us", tz: "jst") do %>
      <span><%= t("acme.app.preferences.up_link") %></span>
    <% end %>
  </div>
</section>
