<!DOCTYPE html>
<html lang="<%= get_language %>">
<head>
  <%= display_meta_tags site: "#{ENV['BRAND_NAME']} (app)", title: (content_for(:page_title) if content_for?(:page_title)) %>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="turbo-refresh-method" content="morph">
  <meta name="turbo-refresh-scroll" content="preserve">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "sign/main" %>
  <%= stylesheet_link_tag "sign/app/main" %>
  <%= javascript_importmap_tags %>
</head>
<body>
<header>
  <h1>
    <%= link_to ENV.fetch("BRAND_NAME", "Umaxica"), sign_app_root_path %> (App)
  </h1>
  <nav>
    <% if logged_in? %>
      logout
    <% else %>
      <%= link_to t("sign.app.layout.nav.sign_up"), new_sign_app_up_url %>
      <%= link_to t("sign.app.layout.nav.log_in"), new_sign_app_in_url %>
    <% end %>
  </nav>
</header>

<hr/>

<output>
  <%= render "shared/flash_messages" %>
</output>

<main>
  <%= yield %>
</main>

<hr/>

<footer>
  <nav>
    <%= link_to t("sign.app.preferences.footer.home"), sign_app_root_path %>
    <%= link_to t("sign.app.preferences.footer.preference"), apex_app_preference_url %>
    <%= link_to t("sign.app.preferences.footer.configuration"), sign_app_configuration_path %>
  </nav>
  <%= render "shared/copyright" %>
</footer>
</body>
</html>
