<!DOCTYPE html>
<html lang="<%= get_language %>" data-theme="<%= theme_cookie_value %>" class="<%= theme_html_class %>">
<%= render "layouts/shared/head",
           namespace: "app",
           stylesheets: ["sign/main", "sign/app/main"],
           title: "#{ENV.fetch('BRAND_NAME', 'Umaxica')} (app)" %>
<body>
<header>
  <h1>
    <%= link_to ENV.fetch("BRAND_NAME", "Umaxica"), sign_app_root_path %> (App)
  </h1>
  <nav>
    <% if logged_in? %>
      logout
    <% else %>
      <%= link_to t("sign.app.layout.nav.sign_up"), new_sign_app_up_url %>
      <%= link_to t("sign.app.layout.nav.log_in"), new_sign_app_in_url %>
    <% end %>
  </nav>
</header>

<hr />

<output>
  <%= render "shared/flash_messages" %>
</output>

<main>
  <%= yield %>
</main>

<hr />

<footer>
  <nav>
    <%= link_to t("sign.app.preferences.footer.home"), sign_app_root_path %>
    <%= link_to t("sign.app.preferences.footer.preference"), apex_app_preference_url %>
    <%= link_to t("sign.app.preferences.footer.configuration"), sign_app_configuration_path %>
  </nav>
  <%= render "shared/copyright" %>
</footer>
</body>
</html>
