<h1>Www::App::Authentication::Telephones#new</h1>
<p>Find me in app/views/www/app/authentication/telephones/new.html.erb</p>

<%= form_with model: @user_telephone, url: www_app_authentication_email_path do |form| %>

  <% if @user_telephone.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(@user_telephone.errors.count, "error") %> prohibited this sample from being saved:</h2>

      <ul class="list-disc ml-6">
        <% @user_telephone.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :account_identifiable_information %>
    <%= form.text_field :account_identifiable_information %>
  </div>

  <div>
    <%= form.label :address %>
    <%= form.email_field :address %>
  </div>

  <div class="cf-turnstile" data-sitekey="<%= ENV['CLOUDFLARE_TURNSTILE_SITE_KEY'] %>"></div>

  <%= form.submit %>
<% end %>

<ul>
  <li><%= link_to t('www.app.authentication.new.back'), new_www_app_authentication_path %></li>
</ul>
