<% content_for :page_title, t("sign.app.configuration.emergency_key.show.title") %>
<div>
  <div>
    <h1>
      <%= t("sign.app.configuration.emergency_key.show.title") %>
    </h1>
    <p>
      <%= t("sign.app.configuration.emergency_key.show.description") %>
    </p>
  </div>

  <div>
    <%= t("sign.app.configuration.emergency_key.show.one_time_notice") %>
  </div>

  <div>
    <%= @raw_secret %>
  </div>

  <div>
    <%= link_to t("sign.app.configuration.emergency_key.show.back_to_settings"),
                sign_app_configuration_path %>
  </div>
</div>
