<!DOCTYPE html>
<html lang="<%= get_language %>" data-theme="<%= theme_cookie_value %>" class="<%= theme_html_class %>">
<head>
  <%= display_meta_tags site: "#{ENV['BRAND_NAME']} (app) Documents", title: (content_for(:page_title) if content_for?(:page_title)) %>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="turbo-refresh-method" content="morph">
  <meta name="turbo-refresh-scroll" content="preserve">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "docs/app/main" %>
  <%= javascript_importmap_tags %>
</head>

<body>
<% code_name = ENV.fetch("BRAND_NAME") { ENV.fetch("NAME") } %>
<% edge_host = ENV["EDGE_SERVICE_URL"].presence %>

<div>    <%= render "shared/flash_messages" %>
  <div>

    <header>
      <div>
        <span>Docs</span>
        <h1>
          <% if edge_host.present? %>
            <a href="http://<%= edge_host %>/"><%= code_name %></a>
          <% else %>
            <%= code_name %>
          <% end %>
          (app)
        </h1>
      </div>
      <nav>
        <%= link_to_if !@user&.active?, "logout?", new_sign_app_up_path %>
        <%= link_to_unless @user&.active?, "login?", new_sign_app_up_path %>
      </nav>
    </header>
<% if show_cookie_banner? %>
  <%= render "shared/cookie_banner" %>
<% end %>

    <main>
      <%= yield %>
    </main>

    <footer>
      <nav>
        <% if edge_host.present? %>
          <a href="http://<%= edge_host %>/">Home</a>
        <% end %>
        <%= link_to t("docs.app.preferences.footer.preference"), apex_app_preference_url %>
      </nav>
      <%= render "layouts/shared/footer_theme_controls", scope: :app %>
      <div>
        <%= render "shared/copyright" %>
      </div>
    </footer>
  </div>
</div>
</body>
</html>
