<!DOCTYPE html>
<html lang="<%= get_language %>">
<head>
  <%= display_meta_tags site: "#{ENV['BRAND_NAME']} (app) Documents" %>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="turbo-refresh-method" content="morph">
  <meta name="turbo-refresh-scroll" content="preserve">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "docs/app/main" %>
  <%= javascript_importmap_tags %>
  <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
  <link rel="icon" href="https://perm.umaxica.app/favicon.ico" sizes="32x32">
</head>

<body class="px-4">
<%= render "concern/flash_messages" %>
<header>
  <h1><a href="http://<%= ENV['EDGE_SERVICE_URL'] %>/"><%= ENV.fetch('BRAND_NAME') { ENV.fetch('NAME') } %> (docs,
    app)</a></h1>
  <p>
    <%= link_to_if !@user&.active?, "logout?", new_sign_app_registration_path %>
    <%= link_to_unless @user&.active?, "login?", new_sign_app_registration_path %>
  </p>
</header>

<hr>

<main class="container mx-auto mt-28 px-5 block">
  <%= yield %>
</main>

<hr>

<footer>
  <ul>
    <li><a href="http://<%= ENV['EDGE_SERVICE_URL'] %>/">Home</a></li>
    <li>Support</li>
    <li>Privacy</li>
    <li>Security</li>
    <li>Accessibility</li>
  </ul>
  <%= render "concern/copyright" %>
</footer>

</body>
</html>
