<!DOCTYPE html>
<html lang="ja">
<head>
  <title><%= ENV.fetch('NAME') %> <%= content_for?(:page_title) ? "| #{yield(:page_title)} " : "" %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= tenant_stylesheet "apex" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  <link rel="icon" href="https://asset.umaxica.net/net/apex/favicon.ico" sizes="32x32">
</head>
<body class="px-4">
<header>
  <h1 class="container mx-auto mt-28 px-5 flex"><%= ENV.fetch('NAME') %> (net)</h1>
</header>

<hr>

<main class="container mx-auto mt-28 px-5 block">
  <%= yield %>
</main>

<hr>

<footer>
  <small>© <%= Time.now.year %> <%= ENV.fetch('NAME') %></small>
</footer>

</body>
</html>
