<% title t("sign.org.authentication.secret.new.page_title") %>

<div>
  <div>
    <h1><%= t("sign.org.authentication.secret.new.page_title") %></h1>
  </div>

  <%= form_with url: sign_org_in_secret_path,
                data: { turbo: false } do |f| %>

    <div>
      <%= f.label :account_identifiable_information,
                  t("sign.org.authentication.secret.new.pii_label") %>
      <%= f.text_field :account_identifiable_information %>
    </div>

    <div>
      <%= f.label :secret_value,
                  t("sign.org.authentication.secret.new.secret_label") %>
      <%= f.password_field :secret_value %>
    </div>

    <div>
      <%= f.label :totp_code,
                  t("sign.org.authentication.secret.new.totp_label") %>
      <%= f.text_field :totp_code %>
    </div>

    <%= render "shared/cloudflare_turnstile" %>

    <div>
      <%= f.submit t("actions.submit") %>
      <%= link_to t("sign.org.authentication.new.back"), new_sign_org_in_path %>
    </div>
  <% end %>
</div>
