<% title t("sign.org.authentication.secret.new.page_title") %>

<div>
  <div>
    <h1><%= t("sign.org.authentication.secret.new.page_title") %></h1>
  </div>

  <%= form_with model: @secret_form,
                url: sign_org_in_secret_path,
                data: { turbo: false } do |f| %>

    <% if @secret_form.errors.any? %>
      <div>
        <h2><%= t("errors.messages.validation_failed") %></h2>
        <ul>
          <% @secret_form.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= hidden_field_tag :rd, params[:rd] if params[:rd].present? %>

    <div>
      <%= f.label :identifier,
                  t("sign.org.authentication.secret.new.pii_label") %>
      <%= f.text_field :identifier,
                       placeholder: t("sign.org.authentication.secret.new.pii_placeholder"),
                       autocomplete: "username" %>
    </div>

    <div>
      <%= f.label :secret_value,
                  t("sign.org.authentication.secret.new.secret_label") %>
      <%= f.password_field :secret_value,
                           placeholder: "••••••••••••••••",
                           autocomplete: "current-password" %>
    </div>

    <%= render "shared/cloudflare_turnstile" %>

    <div>
      <%= f.submit t("actions.submit") %>
      <%= link_to t("sign.org.authentication.new.back"), new_sign_org_in_path %>
    </div>
  <% end %>
</div>
